# Copyright (c) 2021 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config MODULE_PSA_RIOT_CIPHER_AES_128_ECB
    bool
    depends on MODULE_PSA_CRYPTO
    select MODULE_CRYPTO_AES_128
    select MODULE_PSA_RIOT_CIPHER

config MODULE_PSA_RIOT_CIPHER_AES_128_CBC
    bool
    depends on MODULE_PSA_CRYPTO
    select MODULE_CRYPTO_AES_128
    select MODULE_PSA_RIOT_CIPHER

config MODULE_PSA_RIOT_CIPHER_AES_192_CBC
    bool
    depends on MODULE_PSA_CRYPTO
    select MODULE_CRYPTO_AES_192
    select MODULE_PSA_RIOT_CIPHER

config MODULE_PSA_RIOT_CIPHER_AES_256_CBC
    bool
    depends on MODULE_PSA_CRYPTO
    select MODULE_CRYPTO_AES_192
    select MODULE_PSA_RIOT_CIPHER

config MODULE_PSA_RIOT_CIPHER
    bool
    select MODULE_PSA_RIOT_CIPHER_AES_COMMON
    select MODULE_CIPHER_MODES

config MODULE_PSA_RIOT_CIPHER_AES_COMMON
    bool
