# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

menuconfig MODULE_ITG320X
    bool "ITG320X 3-axis gyroscope"
    depends on HAS_PERIPH_I2C
    depends on TEST_KCONFIG
    select MODULE_PERIPH_I2C
    select MODULE_XTIMER
    help
        The driver can be used with InvenSense ITG3200, ITG3205, and MPU3050.

config MODULE_ITG320X_INT
    bool "Interrupt mode"
    depends on MODULE_ITG320X
    depends on HAS_PERIPH_GPIO_IRQ
    select MODULE_PERIPH_GPIO_IRQ
    help
        Say y to fetch the data when the data-ready interrupt is triggered.
