# SPDX-FileCopyrightText: 2020 Inria
# SPDX-License-Identifier: LGPL-2.1-only

config BOARD
    default "nucleo-l452re" if BOARD_NUCLEO_L452RE

config BOARD_NUCLEO_L452RE
    bool
    default y
    select BOARD_COMMON_NUCLEO64
    select CPU_MODEL_STM32L452RE

source "$(RIOTBOARD)/common/nucleo64/Kconfig"
