---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import { LinkButton, LinkCard } from "@astrojs/starlight/components";
import { getCollection } from "astro:content";

const changelog = await getCollection("changelog");
---

<StarlightPage
  frontmatter={{
    title: "Changelog",
    description: "Complete version history and release notes for RIOT",
  }}
>
  <LinkButton
    href="/misc/changelog/rss.xml"
    variant="secondary"
    icon="rss"
    iconPlacement="start"
  >
    Subscribe to RSS Feed
  </LinkButton>
  <div style={{ height: "0.5rem" }}></div>
  {
    changelog.map((entry) => (
      <LinkCard
        title={entry.data.title}
        href={`/misc/changelog/${entry.data.slug}`}
      />
    ))
  }
</StarlightPage>
