CONFIG_MODULE_RANDOM=y
# Should be autoselecting the MODULE_PRNG_HWRNG if possible
# Since the makefile cannot we have to override until end of migration
# Remove when TEST_KCONFIG is complete
CONFIG_MODULE_PRNG_MUSL_LCG=y
CONFIG_MODULE_PERIPH_HWRNG=y
CONFIG_MODULE_PERIPH_UART=y
CONFIG_MODULE_NEWLIB=y

# Vendor code uses C++
CONFIG_MODULE_CPP=y
