# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

config CPU_ARCH_XTENSA
    bool
    select HAS_ARCH_32BIT
    select HAS_ARCH_ESP

config CPU_COMMON_ESP
    bool
    select HAS_CPP
    select HAS_ESP_NOW
    select HAS_ESP_SPIFFS
    select HAS_ESP_WIFI
    select HAS_ESP_WIFI_AP
    select HAS_LIBSTDCPP
    select HAS_NEWLIB
    select HAS_PERIPH_CPUID
    select HAS_PERIPH_GPIO
    select HAS_PERIPH_GPIO_IRQ
    select HAS_PERIPH_HWRNG
    select HAS_PERIPH_PM
    select HAS_PERIPH_RTC
    select HAS_PERIPH_RTT
    select HAS_PERIPH_RTT_OVERFLOW
    select HAS_PERIPH_RTT_SET_COUNTER
    select HAS_PERIPH_TIMER
    select HAS_PERIPH_UART_MODECFG
    select HAS_SSP

## Declaration of specific features
config HAS_ESP_SPIFFS
    bool
    help
        Indicates that a Serial Peripheral Interface Flash File System can be
        used.

config HAS_ESP_WIFI
    bool
    help
        Indicates that an ESP WiFi radio is present.

config HAS_ESP_WIFI_AP
    bool
    help
        Indicates that ESP WiFi SoftAP support is present.

config HAS_ESP_NOW
    bool
    help
        Indicates that an ESP NOW-compatible radio is present.

config HAS_ESP_JTAG
    bool
    help
        Indicates that a JTAG interface is present.

config HAS_ARCH_ESP
    bool
    help
        Indicates that an 'ESP' architecture is being used.

config HAS_ESP_WIFI_ENTERPRISE
    bool
    help
        Indicates that the platform supports WPA2 enterprise mode for the WiFi
        interface.

## Common CPU symbols
config CPU_ARCH
    default "xtensa" if CPU_ARCH_XTENSA

config MODULE_ESP_COMMON
    bool
    depends on TEST_KCONFIG
    depends on CPU_COMMON_ESP
    default y
    select MODULE_LOG # override default log implementation by default
    select MODULE_PERIPH
    select MODULE_ESP_IDF
    help
      Common code module for ESP SoCs.

config MODULE_PERIPH_FLASH
    bool
    depends on TEST_KCONFIG
    depends on CPU_COMMON_ESP
    default y if MODULE_MTD
    help
        Low-level MTD flash driver implementation for ESP SoCs.

if TEST_KCONFIG

menu "ESP configurations"

config MODULE_ESP_LOG_COLORED
    bool
    default y if MODULE_LOG_COLOR

config MODULE_ESP_LOG_TAGGED
    bool "Add additional information to the log output"
    help
        Adds the type of the message, the system time in ms and a tag (module
        or function) to the output.

config MODULE_ESP_LOG_STARTUP
    bool "Add additional startup information to the log output"

endmenu

endif # TEST_KCONFIG

rsource "freertos/Kconfig"
rsource "periph/Kconfig"
rsource "vendor/xtensa/Kconfig"
