# Copyright (c) 2020 Inria
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config BOARD
    default "ublox-c030-u201" if BOARD_UBLOX_C030_U201

config BOARD_UBLOX_C030_U201
    bool
    default y
    select CPU_MODEL_STM32F437VG

    # Put defined MCU peripherals here (in alphabetical order)
    select HAS_PERIPH_ADC
    select HAS_PERIPH_DMA
    select HAS_PERIPH_I2C
    select HAS_PERIPH_RTC
    select HAS_PERIPH_SPI
    select HAS_PERIPH_TIMER
    select HAS_PERIPH_UART
    select HAS_PERIPH_UART_HW_FC

    # Clock configuration
    select BOARD_HAS_HSE
    select BOARD_HAS_LSE

    select HAVE_SAUL_GPIO
    select MODULE_PERIPH_UART_HW_FC if TEST_KCONFIG && HAS_PERIPH_UART_HW_FC

source "$(RIOTBOARD)/common/stm32/Kconfig"
