# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config CPU_COMMON_SAMD21
    bool
    select CPU_COMMON_SAM0
    select CPU_CORE_CORTEX_M0PLUS
    select HAS_CPU_SAMD21
    select HAS_PERIPH_GPIO_FAST_READ

config CPU_FAM_SAMD10
    bool
    select CPU_COMMON_SAMD21
    select HAS_PERIPH_DMA

config CPU_FAM_SAMD20
    bool
    select CPU_COMMON_SAMD21

config CPU_FAM_SAMD21
    bool
    select CPU_COMMON_SAMD21
    select HAS_PERIPH_DMA

config CPU_FAM_SAMR21
    bool
    select CPU_COMMON_SAMD21
    select HAS_PERIPH_DMA

## Definition of specific features
config HAS_CPU_SAMD21
    bool
    help
        Indicates that a 'samd21' cpu is being used.

## Common CPU symbols
config CPU_FAM
    default "samd10" if CPU_FAM_SAMD10
    default "samd20" if CPU_FAM_SAMD20
    default "samd21" if CPU_FAM_SAMD21
    default "samr21" if CPU_FAM_SAMR21

config CPU
    default "samd21" if CPU_COMMON_SAMD21

source "$(RIOTCPU)/samd21/Kconfig.samd10"
source "$(RIOTCPU)/samd21/Kconfig.samd20"
source "$(RIOTCPU)/samd21/Kconfig.samd21"
source "$(RIOTCPU)/samd21/Kconfig.samr21"

source "$(RIOTCPU)/samd21/vectors/Kconfig"

source "$(RIOTCPU)/sam0_common/Kconfig"
