# Copyright (c) 2020 Freie Universität Berlin
#               2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config CPU_FAM_CC430
    bool
    select CPU_CORE_MSP430
    select HAS_CPU_CC430

## CPU Models
config CPU_MODEL_CC430F6137
    bool
    select CPU_FAM_CC430

## Definition of specific features
config HAS_CPU_CC430
    bool
    help
        Indicates that a 'cc430' cpu is being used.

## Common CPU symbols
config CPU_FAM
    default "cc430" if CPU_FAM_CC430

config CPU_MODEL
    default "cc430f6137" if CPU_MODEL_CC430F6137

config CPU
    default "cc430" if CPU_FAM_CC430

source "$(RIOTCPU)/msp430_common/Kconfig"
