# Copyright (c) 2020 Inria
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config BOARD
    default "nucleo-l412kb" if BOARD_NUCLEO_L412KB

config BOARD_NUCLEO_L412KB
    bool
    default y
    select BOARD_COMMON_NUCLEO32
    select CPU_MODEL_STM32L412KB

source "$(RIOTBOARD)/common/nucleo32/Kconfig"
