# Copyright (C) 2021 Freie Universität Berlin
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

menuconfig MODULE_FIDO2_CTAP_TRANSPORT_HID
    bool "FIDO2 CTAP TRANSPORT HID"
    depends on TEST_KCONFIG
    help
        Configure a FIDO2 CTAP authenticator via KConfig.

if MODULE_FIDO2_CTAP_TRANSPORT_HID

config FIDO2_CTAP_TRANSPORT_HID_TRANSACTION_TIMEOUT
    int "CTAPHID Transaction timeout in milliseconds"
    default 750
    help
        A CTAPHID transaction has to be completed within a specified period
        of time to prevent the authenticator from being locked by a
        stalling application.

endif # FIDO2_CTAP_TRANSPORT_HID
