# SPDX-FileCopyrightText: 2020 Inria
# SPDX-License-Identifier: LGPL-2.1-only

config BOARD
    default "nucleo-f072rb" if BOARD_NUCLEO_F072RB

config BOARD_NUCLEO_F072RB
    bool
    default y
    select BOARD_COMMON_NUCLEO64
    select CPU_MODEL_STM32F072RB

source "$(RIOTBOARD)/common/nucleo64/Kconfig"
