# SPDX-FileCopyrightText: 2024 ML!PA Consulting GmbH
# SPDX-License-Identifier: LGPL-2.1-only

config BOARD
    default "adafruit-metro-m4-express" if BOARD_ADAFRUIT_METRO_M4_EXPRESS

config BOARD_ADAFRUIT_METRO_M4_EXPRESS
    bool
    default y
    select CPU_MODEL_SAMD51J19
