# Copyright (c) 2020 HAW Hamburg
#               2022 Gunar Schorcht
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

config CPU_FAM_ESP32C3
    bool
    select CPU_COMMON_ESP32X
    select CPU_CORE_RV32IMC

config CPU_FAM
    default "esp32c3" if CPU_FAM_ESP32C3

## CPU Models
config CPU_MODEL_ESP32C3_WROOM_02X
    bool
    select CPU_FAM_ESP32C3

config CPU_MODEL_ESP32C3_MINI_1X
    bool
    select CPU_FAM_ESP32C3

config CPU_MODEL_ESP32C3
    bool
    select CPU_FAM_ESP32C3

config CPU_MODEL_ESP32C3_FN4
    bool
    select CPU_FAM_ESP32C3

config CPU_MODEL_ESP32C3_FH4
    bool
    select CPU_FAM_ESP32C3

config CPU_MODEL
    depends on CPU_FAM_ESP32C3
    default "esp32c3_wroom_02x" if CPU_MODEL_ESP32C3_WROOM_02X
    default "esp32c3_mini_1x" if CPU_MODEL_ESP32C3_MINI_1X
    default "esp32c3" if CPU_MODEL_ESP32C3
    default "esp32c3_fn4" if CPU_MODEL_ESP32C3_FN4
    default "esp32c3_fh4" if CPU_MODEL_ESP32C3_FH4
