# Copyright (c) 2020 HAW Hamburg
#               2022 Gunar Schorcht
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

config CPU_FAM_ESP32C3
    bool
    select CPU_COMMON_ESP32X
    select CPU_CORE_RV32IMC

config CPU_FAM
    default "esp32c3" if CPU_FAM_ESP32C3

## CPU Models
config CPU_MODEL_ESP32C3_WROOM_02X
    bool
    select CPU_FAM_ESP32C3

config CPU_MODEL_ESP32C3_MINI_1X
    bool
    select CPU_FAM_ESP32C3

config CPU_MODEL_ESP32C3
    bool
    select CPU_FAM_ESP32C3

config CPU_MODEL_ESP32C3_FN4
    bool
    select CPU_FAM_ESP32C3

config CPU_MODEL_ESP32C3_FH4
    bool
    select CPU_FAM_ESP32C3

config CPU_MODEL
    depends on CPU_FAM_ESP32C3
    default "esp32c3_wroom_02x" if CPU_MODEL_ESP32C3_WROOM_02X
    default "esp32c3_mini_1x" if CPU_MODEL_ESP32C3_MINI_1X
    default "esp32c3" if CPU_MODEL_ESP32C3
    default "esp32c3_fn4" if CPU_MODEL_ESP32C3_FN4
    default "esp32c3_fh4" if CPU_MODEL_ESP32C3_FH4

if CPU_FAM_ESP32C3

menu "ESP32-C3 specific configurations"
    depends on HAS_ARCH_ESP32

    # define configuration menu entries for ESP32-C3 variant (family)

    choice
        bool "CPU clock frequency"
        default ESP32C3_DEFAULT_CPU_FREQ_MHZ_80
        help
            CPU clock frequency used (default 80 MHz).
            Please note that peripherals such as I2C or SPI might not work at
            the specified clock frequency if the selected CPU clock frequency
            is too low. These peripherals are clocked by the APB clock, which
            has a clock rate of 80 MHz for CPU clock frequencies greater than
            or equal to 80 MHz, but is equal to the CPU clock frequency for
            CPU clock frequencies less than 80 MHz. Thus, for SPI, the APB
            clock rate must be at least five times the SPI clock rate. For the
            I2C hardware implementation, the APB clock rate must be at least
            3 MHZ to use I2C in fast mode with a I2C clock rate of 400 kHz.
            For the I2C software implementation, the maximum I2C clock rate
            is 1/130 times the CPU clock rate.

        config ESP32C3_DEFAULT_CPU_FREQ_MHZ_2
            bool "2 MHz"
        config ESP32C3_DEFAULT_CPU_FREQ_MHZ_5
            bool "50 MHz"
        config ESP32C3_DEFAULT_CPU_FREQ_MHZ_10
            bool "10 MHz"
        config ESP32C3_DEFAULT_CPU_FREQ_MHZ_20
            bool "20 MHz"
        config ESP32C3_DEFAULT_CPU_FREQ_MHZ_40
            bool "40 MHz"
        config ESP32C3_DEFAULT_CPU_FREQ_MHZ_80
            bool "80 MHz"
        config ESP32C3_DEFAULT_CPU_FREQ_MHZ_160
            bool "160 MHz"
    endchoice

    # import configuration menu entries that are common for all ESP32x SoCs
    rsource "Kconfig.common"

endmenu

endif # CPU_FAM_ESP32C3
