# SPDX-FileCopyrightText: 2020 HAW Hamburg
# SPDX-License-Identifier: LGPL-2.1-only

config BOARD
    default "esp8266-esp-12x" if BOARD_ESP8266_ESP_12X

config BOARD_ESP8266_ESP_12X
    bool
    default y
    select BOARD_COMMON_ESP8266
    select CPU_MODEL_ESP8266_ESP_12X

source "$(RIOTBOARD)/common/esp8266/Kconfig"
