# Copyright (c) 2020 Freie Universitaet Berlin
#               2021 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

menu "SPS30 driver"
    depends on USEMODULE_SPS30

config SPS30_ERROR_RETRY
    int "Maximum number of error retries"
    default 500
    help
        Maximum number of automatic retries on communication errors.
        Change this to 0 if more fine-grained feedback is required.
        The value may be increased if the device is connected over
        suboptimal wiring.

endmenu # SPS30 driver
