# SPDX-FileCopyrightText: 2023-2025 Lasse Rosenow <lasse.rosenow@haw-hamburg.de>
# SPDX-FileCopyrightText: 2023-2025 HAW Hamburg
# SPDX-License-Identifier: LGPL-2.1-only

menuconfig MODULE_REGISTRY
    bool "REGISTRY"
    help
        RIOT Registry module for handling runtime configurations.

if MODULE_REGISTRY

config REGISTRY_ENABLE_META_NAME
    bool "Include name string in schemas"

config REGISTRY_ENABLE_META_DESCRIPTION
    bool "Include description string in schemas"

config MODULE_REGISTRY_INT_PATH
    bool "Access configuration parameters via an integer path"

config MODULE_REGISTRY_STRING_PATH
    bool "Access configuration parameters via a string path"

rsource "namespace/Kconfig"
rsource "storage/Kconfig"

endif # MODULE_REGISTRY
