# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

config BOARD
    default "nrf52840dk" if BOARD_NRF52840DK

config BOARD_NRF52840DK
    bool
    default y
    select BOARDS_COMMON_NRF52XXXDK
    select CPU_MODEL_NRF52840XXAA
    select HAS_PERIPH_PWM
    select HAS_PERIPH_QDEC
    select HAS_PERIPH_USBDEV
    select HAS_VDD_LC_FILTER_REG0
    select HAVE_MTD_SPI_NOR

    select MODULE_BOARDS_COMMON_NRF52XXXDK if TEST_KCONFIG

source "$(RIOTBOARD)/common/nrf52xxxdk/Kconfig"
