# Copyright (c) 2023 Gunar Schorcht
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config BOARD
    default "sipeed-longan-nano" if BOARD_SIPEED_LONGAN_NANO

config BOARD_SIPEED_LONGAN_NANO
    bool
    default y
    select CPU_MODEL_GD32VF103CBT6
    select BOARD_HAS_HXTAL
    select BOARD_HAS_LXTAL

source "$(RIOTBOARD)/common/gd32v/Kconfig"
