# Copyright (c) 2022 ML!PA Consulting GmbH
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

menu "FlashDB package"
    depends on USEPKG_FLASHDB

config FLASHDB_MIN_SECTOR_SIZE_DEFAULT_KiB
    int "Minimal virtual sector size in KiB for FlashDB"
    default 4
    help
        By default, KVDB will use 1 times the block size as the sector size, that is, 4096.
        At this time, the KVDB cannot store a KV longer than 4096. If you want to save, for example,
        a KV with a length of 10K, you can use the control function to set the sector size to 12K or
        larger.

endmenu # FlashDB
