# SPDX-FileCopyrightText: 2023 Gunar Schorcht
# SPDX-License-Identifier: LGPL-2.1-only

config BOARD
    default "adafruit-grand-central-m4-express" if BOARD_ADAFRUIT_GRAND_CENTRAL_M4_EXPRESS

config BOARD_ADAFRUIT_GRAND_CENTRAL_M4_EXPRESS
    bool
    default y
    select CPU_MODEL_SAMD51P20A
