# Copyright (c) 2020 Inria
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

config CPU_ARCH_RISCV
    bool

config CPU_CORE_RV32IMAC
    bool
    select CPU_ARCH_RISCV

config CPU_ARCH
    default "rv32" if CPU_CORE_RV32IMAC
