root = true
spelling_language = en
end_of_line = lf

[*{.c,.h}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

[{Makefile*,*.mk}]
indent_style = tab
indent_size = 2
tab_size = 2
trim_trailing_whitespace = true
insert_final_newline = true

[*{.astro, .js, .ts, .mjs, .json}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
insert_final_newline = true
