*.o
doc/doxygen/html
doc/doxygen/latex
doc/doxygen/man
doc/doxygen/*.log
doc/doxygen/*.db
doc/doxygen/*.tmp
*bin
*~
*.orig
.*.swp
cachegrind.out*
.project
.cproject
.settings
.idea
.kdev4
*.kdev4
/toolchain
