language: c

cache: apt

env:
    - NPROC_MAX=8

before_install:
    - sudo apt-get install emdebian-archive-keyring
    - echo 'deb http://emdebian.bytesatwork.ch/mirror/toolchains/ wheezy main' | sudo tee /etc/apt/sources.list.d/emdebian.list > /dev/null

    - echo 'deb http://us.archive.ubuntu.com/ubuntu trusty           main restricted universe multiverse' | sudo tee    /etc/apt/sources.list.d/trusty.list > /dev/null
    - echo 'deb http://us.archive.ubuntu.com/ubuntu trusty-backports main restricted universe multiverse' | sudo tee -a /etc/apt/sources.list.d/trusty.list > /dev/null
    - echo 'deb http://us.archive.ubuntu.com/ubuntu trusty-security  main restricted universe multiverse' | sudo tee -a /etc/apt/sources.list.d/trusty.list > /dev/null
    - echo 'deb http://us.archive.ubuntu.com/ubuntu trusty-updates   main restricted universe multiverse' | sudo tee -a /etc/apt/sources.list.d/trusty.list > /dev/null
    - sudo add-apt-repository -y ppa:terry.guo/gcc-arm-embedded
    - sudo apt-get update

install:
    - >
        sudo apt-get install \
            build-essential \
            gcc-multilib \
            gcc-arm-none-eabi \
            gcc-msp430 \
            pcregrep \
            libpcre3 \
            qemu-system-x86 \
            python3 \
            g++-multilib \
            gcc-avr \
            binutils-avr \
            avr-libc \
            cppcheck \
    - git config --global user.email "travis@example.com"
    - git config --global user.name "Travis CI"

    - git remote add riot https://github.com/RIOT-OS/RIOT.git
    - git fetch riot master
    - git log -1 --pretty=format:%H riot/master

script:
    - make -s -C ./examples/default info-concurrency
    - git rebase riot/master || git rebase --abort

    - ./dist/tools/licenses/check.sh master --diff-filter=MR --error-exitcode=0 || exit
    - ./dist/tools/licenses/check.sh master --diff-filter=AC || exit

# TODO:
#   Remove the `AC` argument when all headers have been
#   taken care of in master.
    - ./dist/tools/externc/check.sh master AC || exit

# TODO:
#   Remove all but `master` parameters to cppcheck (and remove second
#   invocation) once all warnings of cppcheck have been taken care of
#   in master.
    - ./dist/tools/cppcheck/check.sh master --diff-filter=MR --error-exitcode=0 || exit
    - ./dist/tools/cppcheck/check.sh master --diff-filter=AC || exit

    - make -C ./tests/unittests all test BOARD=native || exit
    - make -C ./tests/unittests all test BOARD=qemu-i386 || exit

    - ./dist/tools/compile_test/compile_test.py

notifications:
    email: false
