language: c

cache: apt

env:
    - NPROC_MAX=8 BUILDTEST_MCU_GROUP=static-tests
    - NPROC_MAX=8 BUILDTEST_MCU_GROUP=avr8
    - NPROC_MAX=8 BUILDTEST_MCU_GROUP=msp430
    - NPROC_MAX=8 BUILDTEST_MCU_GROUP=x86
    - NPROC_MAX=8 BUILDTEST_MCU_GROUP=arm7
    - NPROC_MAX=8 BUILDTEST_MCU_GROUP=cortex_m0
    - NPROC_MAX=8 BUILDTEST_MCU_GROUP=cortex_m3_1
    - NPROC_MAX=8 BUILDTEST_MCU_GROUP=cortex_m3_2
    - NPROC_MAX=8 BUILDTEST_MCU_GROUP=cortex_m4

matrix:
  allow_failures:
    - env: NPROC_MAX=8 BUILDTEST_MCU_GROUP=static-tests

before_install:
    - sudo apt-get install emdebian-archive-keyring
    - echo 'deb http://emdebian.bytesatwork.ch/mirror/toolchains/ wheezy main' | sudo tee /etc/apt/sources.list.d/emdebian.list > /dev/null

    - echo 'deb http://us.archive.ubuntu.com/ubuntu trusty           main restricted universe multiverse' | sudo tee    /etc/apt/sources.list.d/trusty.list > /dev/null
    - echo 'deb http://us.archive.ubuntu.com/ubuntu trusty-backports main restricted universe multiverse' | sudo tee -a /etc/apt/sources.list.d/trusty.list > /dev/null
    - echo 'deb http://us.archive.ubuntu.com/ubuntu trusty-security  main restricted universe multiverse' | sudo tee -a /etc/apt/sources.list.d/trusty.list > /dev/null
    - echo 'deb http://us.archive.ubuntu.com/ubuntu trusty-updates   main restricted universe multiverse' | sudo tee -a /etc/apt/sources.list.d/trusty.list > /dev/null
    - sudo add-apt-repository -y ppa:terry.guo/gcc-arm-embedded
    - sudo apt-get update

install:
    - >
        sudo apt-get install $(./dist/tools/travis-scripts/get-pkg-list.py)
    - git config --global user.email "travis@example.com"
    - git config --global user.name "Travis CI"

    - git remote add riot https://github.com/RIOT-OS/RIOT.git
    - git fetch riot master
    - git log -1 --pretty=format:%H riot/master

script:
    - ./dist/tools/travis-scripts/build_and_test.sh

notifications:
    email: false
