[project]
	description = "RIOT -  The friendly OS for IoT"
[access "refs/*"]
	owner = group user/Martin Lenders (authmillenon)
[access "refs/for/refs/*"]
	read = group user/Martin Lenders (authmillenon)
	push = group user/Martin Lenders (authmillenon)
	label-Code-Review = -2..+2 group user/Martin Lenders (authmillenon)
	label-Verified = -1..+1 group user/Martin Lenders (authmillenon)
	rebase = group user/Martin Lenders (authmillenon)
	removeReviewer = group user/Martin Lenders (authmillenon)
	submit = group user/Martin Lenders (authmillenon)
[access "refs/heads/*"]
	read = group user/Martin Lenders (authmillenon)
	create = group user/Martin Lenders (authmillenon)
	push = +force group user/Martin Lenders (authmillenon)
	pushMerge = group user/Martin Lenders (authmillenon)
[access "refs/tags/*"]
	push = +force group user/Martin Lenders (authmillenon)
	pushTag = group user/Martin Lenders (authmillenon)
	pushSignedTag = group user/Martin Lenders (authmillenon)
[submit]
	action = rebase if necessary
