# Copyright (c) 2021 Inria

# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

config BOARD
    default "microbit-v2" if BOARD_MICROBIT_V2

config BOARD_MICROBIT_V2
    bool
    default y
    select BOARD_COMMON_NRF52
    select CPU_MODEL_NRF52833XXAA
    select HAS_PERIPH_I2C
    select HAS_PERIPH_PWM
    select HAS_PERIPH_SPI
    select HAS_PERIPH_UART

source "$(RIOTBOARD)/common/nrf52/Kconfig"
