# Copyright (c) 2020 Freie Universitaet Berlin
#               2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

menu "MOTOR_DRIVER: DC Motor driver"
    depends on USEMODULE_MOTOR_DRIVER

config MOTOR_DRIVER_MAX
    int "Maximum number of motors"
    default 2
    help
        Maximum number of motors depends on the H-bridge.
        The value should not exceed the number of PWM channels
        Default value is set to 2.

endmenu # Configure the DC Motor driver
