# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

menu "Standard Input/Output (STDIO)"
    depends on TEST_KCONFIG

config FORCE_USB_STDIO
    bool "Force a USB based STDIO"
    depends on HAS_PERIPH_USBDEV || HAS_TINYUSB_DEVICE
    select KCONFIG_USB
    select REQUIRES_USB_STDIO
    help
        To prevent a circular dependency, can force the USB modules to that
        STDIO will select some sort of USB based STDIO backend.

choice STDIO_IMPLEMENTATION
    bool "STDIO implementation"
    default MODULE_STDIO_NATIVE if CPU_ARCH_NATIVE
    default MODULE_STDIO_CDC_ACM if MODULE_USBUS && REQUIRES_USB_STDIO
    default MODULE_STDIO_TINYUSB_CDC_ACM if MODULE_TINYUSB_DEVICE && REQUIRES_USB_STDIO
    default MODULE_STDIO_UART

config MODULE_STDIO_RTT
    bool "JLink RTT"
    select MODULE_ZTIMER
    select MODULE_ZTIMER_MSEC

config MODULE_STDIO_SEMIHOSTING
    bool "ARM and RISC-V Semihosting"
    depends on HAS_ARCH_ARM || HAS_ARCH_RISCV
    select MODULE_ZTIMER
    select MODULE_ZTIMER_MSEC
    select USE_STDOUT_BUFFERED

config MODULE_SLIPDEV_STDIO
    bool "SLIP network device"
    depends on MODULE_SLIPDEV
    select USE_STDOUT_BUFFERED
    select MODULE_ISRPIPE

config MODULE_STDIO_NULL
    bool "Null"
    help
        Empty implementation.

config MODULE_STDIO_UART
    bool "UART"
    depends on HAS_PERIPH_UART
    select MODULE_PERIPH_UART

config MODULE_STDIO_UART_ONLCR
    bool "Emit DOS line endings for STDIO output via UART"
    depends on MODULE_STDIO_UART

config MODULE_STDIO_NATIVE
    bool "Native"
    depends on CPU_ARCH_NATIVE

config MODULE_STDIO_ETHOS
    bool "ETHOS"
    depends on MODULE_ETHOS
    select MODULE_STDIN
    select MODULE_ETHOS_STDIO
    select USE_STDOUT_BUFFERED

endchoice

config MODULE_STDIN
    bool "Standard Input"

config MODULE_STDIO_UART_RX
    bool
    depends on MODULE_STDIO_UART
    select MODULE_ISRPIPE
    select MODULE_STDIO_AVAILABLE
    default y if MODULE_STDIN
    help
        Reception when using UART-based STDIO needs to be enabled.

config MODULE_STDIO_USB_SERIAL_JTAG_RX
    bool
    depends on MODULE_STDIO_USB_SERIAL_JTAG
    select MODULE_ISRPIPE
    select MODULE_STDIO_AVAILABLE
    default y if MODULE_STDIN
    help
        Reception when using ESP32 USB Serial/JTAG STDIO needs to be enabled.

config MODULE_STDIO_AVAILABLE
    bool
    help
        Indicates that the implementation supports function stdio_available

config MODULE_PRINTF_FLOAT
    bool "Float support in printf"

config USE_STDOUT_BUFFERED
    bool
    help
        Select this to prefer buffered standard output if provided by the implementation.

config REQUIRES_USB_STDIO
    bool
    help
        Indicates that the STDIO requires some USB implementation to be enabled.

endmenu # Standard Input/Output (STDIO)
