# Copyright (c) 2023 Mesotic SAS
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config MODULE_NRF_SHARED_SERIAL_IRQ
    bool
    depends on TEST_KCONFIG
    default y
