# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

menuconfig MODULE_APDS99XX
    bool
    prompt "APDS99xx Broadcom Sensors" if !(MODULE_SAUL_DEFAULT && HAVE_APDS99XX)
    depends on HAS_PERIPH_I2C
    depends on TEST_KCONFIG
    select MODULE_PERIPH_I2C
    help
        The driver can be used with following Broadcom sensors: APDS9900,
        APDS9901, APDS9930, APDS9950, APDS9960. Select one model.

        The base driver only supports a basic set of functions and has therefore
        a small size. The procedure for retrieving new data is polling. Ambient
        light and proximity sensing are supported.

        The fully functional driver MODULE_APDS99XX_FULL supports all the
        features supported by the base driver, as well as all other sensor
        features, including interrupts and their configuration. Data-ready
        interrupts can be used to retrieve data. In addition, threshold
        interrupts can be used and configured.

if MODULE_APDS99XX

choice APDS99XX_VARIANT
    bool "Model"
    default MODULE_APDS9900 if HAVE_APDS9900
    default MODULE_APDS9901 if HAVE_APDS9901
    default MODULE_APDS9930 if HAVE_APDS9930
    default MODULE_APDS9950 if HAVE_APDS9950
    default MODULE_APDS9960 if HAVE_APDS9960
    help
        The driver can be used with following Broadcom sensors: APDS9900,
        APDS9901, APDS9930, APDS9950, APDS9960. Select one model.

config MODULE_APDS9900
    bool "APDS9900"

config MODULE_APDS9901
    bool "APDS9901"

config MODULE_APDS9930
    bool "APDS9930"

config MODULE_APDS9950
    bool "APDS9950"

config MODULE_APDS9960
    bool "APDS9960"

endchoice

endif # MODULE_APDS99XX

config MODULE_APDS99XX_FULL
    bool "APDS99XX Full functionalities"
    depends on MODULE_APDS99XX
    depends on HAS_PERIPH_GPIO_IRQ
    select MODULE_PERIPH_GPIO_IRQ

config HAVE_APDS99XX
    bool
    select MODULE_APDS99XX if MODULE_SAUL_DEFAULT
    help
        Indicates that a apds99xx sensor is present.

config HAVE_APDS9900
    bool
    select HAVE_APDS99XX
    help
        Indicates that a apds9900 sensor is present.

config HAVE_APDS9901
    bool
    select HAVE_APDS99XX
    help
        Indicates that a apds9901 sensor is present.

config HAVE_APDS9930
    bool
    select HAVE_APDS99XX
    help
        Indicates that a apds9930 sensor is present.

config HAVE_APDS9950
    bool
    select HAVE_APDS99XX
    help
        Indicates that a apds9950 sensor is present.

config HAVE_APDS9960
    bool
    select HAVE_APDS99XX
    help
        Indicates that a apds9960 sensor is present.
