# SPDX-FileCopyrightText: 2025 TU Dresden
# SPDX-License-Identifier: LGPL-2.1-only

config MODULE_PAA5100JE
    bool "PAA5100JE"
    depends on TEST_KCONFIG
    depends on HAS_PERIPH_SPI
    select MODULE_PERIPH_SPI

menu "PAA5100JE driver"
    depends on USEMODULE_PAA5100JE

config PAA5100JE_QUALITY_THRESHOLD
    hex "Quality Threshold"
    range 0x00 0xff
    default 0x19
    help
        Defines a minimum quality threshold when reading from the burst register.
        If the reported quality is below this threshold,
        the driver retries until the threshold is met or the function times out.

config PAA5100JE_TIMEOUT_MS
    int "Timeout in Milliseconds"
    default 1000
    help
        Maximum time (in milliseconds)
        the driver will attempt to read valid motion data before aborting.

config PAA5100JE_SCALE_DENOMINATOR
    int "Scale Denominator"
    default 100
    help
        Denominator used for scaling motion data.
        The raw motion data read from the sensor is multiplied by 100 and
        divided by this value to convert it into meaningful units.

endmenu # PAA5100JE driver
