# Copyright (c) 2023 Benjamin Valentin
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

config BOARD
    default "hip-badge" if BOARD_HIP_BADGE

config BOARD_HIP_BADGE
    bool
    default y
    select BOARD_COMMON_ESP32C3
    select CPU_MODEL_ESP32C3

source "$(RIOTBOARD)/common/esp32c3/Kconfig"
