# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

config BOARD
    default "airfy-beacon" if BOARD_AIRFY_BEACON

config BOARD_AIRFY_BEACON
    bool
    default y
    select BOARD_COMMON_NRF51
    select CPU_MODEL_NRF51X22XXAA
    select HAS_PERIPH_ADC
    select HAS_PERIPH_I2C
    select HAS_PERIPH_SPI
    select HAS_PERIPH_UART
    select MODULE_BOARDS_COMMON_NRF51 if TEST_KCONFIG

source "$(RIOTBOARD)/common/nrf51/Kconfig"
