# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config MODULE_AT24MAC
    bool "Use both eeprom and unique ID of AT24MAC"
    depends on TEST_KCONFIG
    depends on HAS_PERIPH_I2C
    select MODULE_AT24MAC_EUI
    select MODULE_AT24CXXX
    select HAVE_AT24MAC

config MODULE_AT24MAC_EUI
    bool
    prompt "AT24MAC unique ID" if !(MODULE_EUI_PROVIDER && HAVE_AT24MAC)
    default (MODULE_EUI_PROVIDER && HAVE_AT24MAC)
    depends on TEST_KCONFIG
    depends on HAS_PERIPH_I2C
    select MODULE_PERIPH_I2C

choice AT24CXXX_VARIANT
    default MODULE_AT24MAC_EEPROM if HAVE_AT24MAC

config MODULE_AT24MAC_EEPROM
    bool "AT24MAC"

endchoice

config HAVE_AT24MAC
    bool
    select HAVE_AT24CXXX
    help
       Indicates that an AT24MAC unique ID chip is present.
