menu "CAN"
    depends on USEMODULE_CAN || USEMODULE_FDCAN

menu "FD CAN"

config FDCAN_DEVICE_SET_TRANSCEIVER_LOOP_DELAY
    depends on USEMODULE_FDCAN
    bool "FD CAN transceiver loop delay"
    default n
    help
        Allow to set FD CAN Transceiver loop delay.

config FDCAN_DEVICE_TRANSCEIVER_LOOP_DELAY
    depends on FDCAN_DEVICE_SET_TRANSCEIVER_LOOP_DELAY
    int "FD CAN transceiver loop delay value"
    range 0 1000
    default 0
    help
      This parameter defines the loop delay introduced by the CAN transceiver
      during transmission. The loop delay represents the time taken for the
      transmitted signal to be looped back to the CAN controller. This delay
      is introduced by the physical transceiver circuitry and may vary
      depending on the transceiver model and other physical factors.

      The value is typically measured in nanoseconds and should be set
      according to the specifications provided by the transceiver manufacturer.
      A higher loop delay can affect the timing of CAN message transmissions
      and may need to be adjusted in systems with tight timing requirements.

      If unsure, leave this value as 0 or refer to the hardware documentation
      for the correct delay value.


endmenu # FD CAN

endmenu # CAN
