# Copyright (c) 2021 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

menuconfig MODULE_SOFT_UART
    bool "Software-implemented UART"
    depends on HAS_PERIPH_GPIO
    depends on HAS_PERIPH_GPIO_IRQ
    depends on HAS_PERIPH_TIMER
    depends on HAS_PERIPH_TIMER_PERIODIC
    depends on TEST_KCONFIG
    select MODULE_PERIPH_GPIO
    select MODULE_PERIPH_GPIO_IRQ
    select MODULE_PERIPH_TIMER
    select MODULE_PERIPH_TIMER_PERIODIC

config MODULE_SOFT_UART_MODECFG
    bool "Mode configuration support"
    depends on MODULE_SOFT_UART
