# Copyright (c) 2022 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config MODULE_PSA_PERSISTENT_STORAGE
    bool "Enable persistent key storage in PSA"
    select PACKAGE_NANOCBOR
    select PACKAGE_LITTLEFS2
    select MODULE_LITTLEFS2_FS
    select MODULE_VFS_AUTO_FORMAT
    select MODULE_VFS_AUTO_MOUNT
    select MODULE_VFS_DEFAULT
