# Copyright (c) 2021 Freie Universität Berlin
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config CONGURE_TEST_LOST_MSG_POOL_SIZE
    int "Pool size for the list elements for a lost message report"
    default 4
    help
        @see congure_snd_driver_t::report_msg_lost
        This defines the maximum number of 3-tuples you can use with
        @ref congure_test_call_report() when argv[1] is msg_lost.
