# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

menuconfig MODULE_XTIMER
    bool "xtimer"
    depends on TEST_KCONFIG
    depends on HAS_PERIPH_TIMER
    select MODULE_PERIPH_TIMER
    help
        Include xtimer module. xtimer requires a low-level timer implementation
        that can be provided either by a peripheral timer or the ztimer module.

if MODULE_XTIMER

config XTIMER_ZTIMER_BACKEND
    bool "xtimer always implemented by ztimer"
    select MODULE_ZTIMER_USEC

choice XTIMER_BACKEND
    bool "xtimer backend"

config MODULE_XTIMER_ON_ZTIMER
    bool "xtimer api implemented by xtimer, with ztimer_usec backend"
    depends on MODULE_ZTIMER_PERIPH_TIMER
    depends on MODULE_ZTIMER

config MODULE_ZTIMER_XTIMER_COMPAT
    bool "xtimer api implemented by ztimer"
    depends on MODULE_ZTIMER_USEC
    select MODULE_DIV

config MODULE_XTIMER_ON_PERIPH_TIMER
    bool "xtimer api implemented by xtimer, with periph_timer backend"
    select MODULE_DIV
endchoice

config MODULE_ZTIMER64_XTIMER_COMPAT
    bool "xtimer api implemented bt ztimer64"
    select MODULE_DIV
    depends on MODULE_ZTIMER64
    depends on MODULE_ZTIMER64_USEC
    depends on MODULE_ZTIMER_XTIMER_COMPAT
    help
        This is a wrapper of xtimer API on ztimer64_usec.

config MODULE_AUTO_INIT_XTIMER
    bool "Auto-init xtimer"
    default y if MODULE_AUTO_INIT && (MODULE_XTIMER && !MODULE_ZTIMER_XTIMER_COMPAT)

endif # MODULE_XTIMER
