# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

menuconfig MODULE_XTIMER
    bool "xtimer"
    select MODULE_PERIPH_TIMER if HAS_PERIPH_TIMER && !MODULE_XTIMER_ON_ZTIMER
    depends on HAS_PERIPH_TIMER && !MODULE_XTIMER_ON_ZTIMER || MODULE_XTIMER_ON_ZTIMER
    depends on TEST_KCONFIG
    select MODULE_DIV if !MODULE_ZTIMER_XTIMER_COMPAT
    help
        Include xtimer module. xtimer requires a low-level timer implementation
        that can be provided either by a peripheral timer or the ztimer module
        when MODULE_XTIMER_ON_ZTIMER is enabled.

config MODULE_AUTO_INIT_XTIMER
    bool "Auto-init xtimer"
    default y if MODULE_AUTO_INIT
    depends on !MODULE_ZTIMER_XTIMER_COMPAT
    depends on MODULE_XTIMER
