# SPDX-FileCopyrightText: 2020 Inria
# SPDX-License-Identifier: LGPL-2.1-only

config CPU_FAM_GD32V
    bool
    select CPU_CORE_RV32IMAC

menu "GD32V configuration"

config CPU_MODEL_GD32VF103CBT6
    bool
    select CPU_FAM_GD32V

config CPU_MODEL_GD32VF103VBT6
    bool
    select CPU_FAM_GD32V

config CPU_FAM
    default "gd32v" if CPU_FAM_GD32V

config CPU_MODEL
    default "gd32vf103cbt6"  if CPU_MODEL_GD32VF103CBT6

config CPU_MODEL
    default "gd32vf103vbt6"  if CPU_MODEL_GD32VF103VBT6

config CPU
    default "gd32v" if CPU_FAM_GD32V

config CPU_CORE
    default "rv32imac" if CPU_CORE_RV32IMAC

rsource "periph/Kconfig"

endmenu

source "$(RIOTCPU)/riscv_common/Kconfig"
