# SPDX-FileCopyrightText: 2020 HAW Hamburg
# SPDX-License-Identifier: LGPL-2.1-only

config BOARD
    default "firefly" if BOARD_FIREFLY

config BOARD_FIREFLY
    bool
    default y
    select BOARD_COMMON_REMOTE

source "$(RIOTBOARD)/common/remote/Kconfig"
