# Copyright (c) 2021 Inria
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

if TEST_KCONFIG

menuconfig PACKAGE_LVGL
    bool "LVGL package"
    imply MODULE_AUTO_INIT_SCREEN
    select MODULE_LVGL
    select MODULE_LVGL_CORE
    select MODULE_LVGL_DRAW
    select MODULE_LVGL_DRAW_SW
    select MODULE_LVGL_EXTRA
    select MODULE_LVGL_FONT
    select MODULE_LVGL_HAL
    select MODULE_LVGL_MISC
    select MODULE_LVGL_WIDGETS

    # lvgl is not compatible with non 32bit platforms
    # Building lv_misc triggers the error:
    # "left shift count >= width of type [-Werror=shift-count-overflow]"
    depends on !HAS_ARCH_8BIT
    depends on !HAS_ARCH_16BIT

if PACKAGE_LVGL

config MODULE_LVGL_CONTRIB
    bool "Contrib"
    select MODULE_DISP_DEV
    select MODULE_CORE_THREAD_FLAGS
    select MODULE_ZTIMER
    select MODULE_ZTIMER_MSEC

config MODULE_LVGL_CONTRIB_TOUCH
    bool "Touch support"
    select MODULE_TOUCH_DEV

config MODULE_LVGL
    bool

config MODULE_LVGL_CORE
    bool

config MODULE_LVGL_DRAW
    bool

config MODULE_LVGL_DRAW_SW
    bool

config MODULE_LVGL_EXTRA
    bool

config MODULE_LVGL_FONT
    bool

config MODULE_LVGL_HAL
    bool

config MODULE_LVGL_MISC
    bool

config MODULE_LVGL_WIDGETS
    bool

config MODULE_LVGL_WIDGET_ARC
    bool "Arc widget"
    select LV_USE_ARC if KCONFIG_USEPKG_LVGL

config MODULE_LVGL_WIDGET_BAR
    bool "Bar widget"
    select LV_USE_BAR if KCONFIG_USEPKG_LVGL

config MODULE_LVGL_WIDGET_BTN
    bool "Button widget"
    select LV_USE_BTN if KCONFIG_USEPKG_LVGL

config MODULE_LVGL_WIDGET_BTNMATRIX
    bool "Button matrix widget"
    select LV_USE_BTNMATRIX if KCONFIG_USEPKG_LVGL

config MODULE_LVGL_WIDGET_CANVAS
    bool "Canvas widget"
    select LV_USE_CANVAS if KCONFIG_USEPKG_LVGL

config MODULE_LVGL_WIDGET_CHECKBOX
    bool "Checkbox widget"
    select LV_USE_CHECKBOX if KCONFIG_USEPKG_LVGL

config MODULE_LVGL_WIDGET_DROPDOWN
    bool "Dropdown widget"
    select MODULE_LVGL_WIDGET_LABEL
    select LV_USE_DROPDOWN if KCONFIG_USEPKG_LVGL

config MODULE_LVGL_WIDGET_IMG
    bool "Image widget"
    select MODULE_LVGL_WIDGET_LABEL
    select LV_USE_IMG if KCONFIG_USEPKG_LVGL

config MODULE_LVGL_WIDGET_LABEL
    bool "Label widget"
    select LV_USE_LABEL if KCONFIG_USEPKG_LVGL

config MODULE_LVGL_WIDGET_LINE
    bool "Line widget"
    select LV_USE_LINE if KCONFIG_USEPKG_LVGL

config MODULE_LVGL_WIDGET_ROLLER
    bool "Roller widget"
    select MODULE_LVGL_WIDGET_LABEL
    select LV_USE_ROLLER if KCONFIG_USEPKG_LVGL

config MODULE_LVGL_WIDGET_SLIDER
    bool "Slider widget"
    select MODULE_LVGL_WIDGET_BAR
    select LV_USE_SLIDER if KCONFIG_USEPKG_LVGL

config MODULE_LVGL_WIDGET_SWITCH
    bool "Switch widget"
    select LV_USE_SWITCH if KCONFIG_USEPKG_LVGL

config MODULE_LVGL_WIDGET_TEXTAREA
    bool "Textarea widget"
    select MODULE_LVGL_WIDGET_LABEL
    select LV_USE_TEXTAREA if KCONFIG_USEPKG_LVGL

config MODULE_LVGL_WIDGET_TABLE
    bool "Table widget"
    select LV_USE_TABLE if KCONFIG_USEPKG_LVGL

config MODULE_LVGL_EXTRA_LAYOUT_FLEX
    bool "Flex extra layout"
    select LV_USE_FLEX if KCONFIG_USEPKG_LVGL

config MODULE_LVGL_EXTRA_LAYOUT_GRID
    bool "Grid extra layout"
    select LV_USE_GRID if KCONFIG_USEPKG_LVGL

config MODULE_LVGL_EXTRA_THEME_BASIC
    bool "Extra theme basic"
    select LV_USE_THEME_BASIC if KCONFIG_USEPKG_LVGL

config MODULE_LVGL_EXTRA_THEME_DEFAULT
    bool "Extra theme default"
    select LV_USE_THEME_DEFAULT if KCONFIG_USEPKG_LVGL

config MODULE_LVGL_EXTRA_THEME_DEFAULT_DARK
    bool "Extra theme default in dark mode"
    select LV_THEME_DEFAULT_DARK if KCONFIG_USEPKG_LVGL

config MODULE_LVGL_EXTRA_THEME_DEFAULT_GROW
    bool "Extra theme default with button grow mode"
    select LV_THEME_DEFAULT_GROW if KCONFIG_USEPKG_LVGL

config MODULE_LVGL_EXTRA_THEME_MONO
    bool "Extra theme mono"

config MODULE_LVGL_EXTRA_WIDGET_ANIMING
    bool "Animing extra widget"
    select LV_USE_ANIMING if KCONFIG_USEPKG_LVGL

config MODULE_LVGL_EXTRA_WIDGET_CALENDAR
    bool "Calendar extra widget"
    select LV_USE_CALENDAR if KCONFIG_USEPKG_LVGL

config MODULE_LVGL_EXTRA_WIDGET_CHART
    bool "Chart extra widget"
    select LV_USE_CHART if KCONFIG_USEPKG_LVGL

config MODULE_LVGL_EXTRA_WIDGET_COLORWHEEL
    bool "Colorwheel extra widget"
    select LV_USE_COLORWHEEL if KCONFIG_USEPKG_LVGL

config MODULE_LVGL_EXTRA_WIDGET_IMGBIN
    bool "Imgbin extra widget"
    select LV_USE_IMGBIN if KCONFIG_USEPKG_LVGL

config MODULE_LVGL_EXTRA_WIDGET_LED
    bool "Led extra widget"
    select LV_USE_LED if KCONFIG_USEPKG_LVGL

config MODULE_LVGL_EXTRA_WIDGET_LIST
    bool "List extra widget"
    select LV_USE_LIST if KCONFIG_USEPKG_LVGL

config MODULE_LVGL_EXTRA_WIDGET_MENU
    bool "Menu extra widget"
    select LV_USE_MENU if KCONFIG_USEPKG_LVGL

config MODULE_LVGL_EXTRA_WIDGET_METER
    bool "Meter extra widget"
    select LV_USE_METER if KCONFIG_USEPKG_LVGL

config MODULE_LVGL_EXTRA_WIDGET_MSGBOX
    bool "Message box extra widget"
    select LV_USE_MSGBOX if KCONFIG_USEPKG_LVGL

config MODULE_LVGL_EXTRA_WIDGET_SPAN
    bool "Window extra widget"
    select LV_USE_SPAN if KCONFIG_USEPKG_LVGL

config MODULE_LVGL_EXTRA_WIDGET_SPINBOX
    bool "Spinbox extra widget"
    select LV_USE_SPINBOX if KCONFIG_USEPKG_LVGL

config MODULE_LVGL_EXTRA_WIDGET_SPINNER
    bool "Spinner extra widget"
    select LV_USE_SPINNER if KCONFIG_USEPKG_LVGL

config MODULE_LVGL_EXTRA_WIDGET_TABVIEW
    bool "Tabview extra widget"
    select LV_USE_TABVIEW if KCONFIG_USEPKG_LVGL

config MODULE_LVGL_EXTRA_WIDGET_TILEVIEW
    bool "Tileview extra widget"
    select LV_USE_TILEVIEW if KCONFIG_USEPKG_LVGL

config MODULE_LVGL_EXTRA_WIDGET_WIN
    bool "Window extra widget"
    select MODULE_LVGL_WIDGET_BTN
    select MODULE_LVGL_WIDGET_IMG
    select MODULE_LVGL_WIDGET_LABEL
    select LV_USE_WIN if KCONFIG_USEPKG_LVGL

endif # PACKAGE_LVGL

endif # TEST_KCONFIG

menuconfig KCONFIG_USEPKG_LVGL
    bool "Configure LVGL"
    help
        Configure LVGL package via Kconfig.
    # Make sure all widgets are unchecked by default
    select LV_CONF_MINIMAL

if KCONFIG_USEPKG_LVGL

menu "LVGL RIOT configuration"

    config LVGL_INACTIVITY_PERIOD_MS
        int "Inactivity period before blocking the LVGL thread (in ms)"
        default 5000

    config LVGL_TASK_HANDLER_DELAY_US
        int "Delay between calls to the lvgl task handler (in us)"
        default 5000

endmenu

osource "$(RIOTBASE)/build/pkg/lvgl/Kconfig"

endif
