# SPDX-FileCopyrightText: 2020 Inria
# SPDX-License-Identifier: LGPL-2.1-only

config BOARD
    default "nucleo-f303k8" if BOARD_NUCLEO_F303K8

config BOARD_NUCLEO_F303K8
    bool
    default y
    select BOARD_COMMON_NUCLEO32
    select CPU_MODEL_STM32F303K8

source "$(RIOTBOARD)/common/nucleo32/Kconfig"
