# SPDX-FileCopyrightText: 2020 HAW Hamburg
# SPDX-License-Identifier: LGPL-2.1-only

config BOARD
    default "mbed_lpc1768" if BOARD_MBED_LPC1768

config BOARD_MBED_LPC1768
    bool
    default y
    select CPU_MODEL_LPC1768
