# SPDX-FileCopyrightText: 2025 Tom Hert <git@annsann.eu>
# SPDX-FileCopyrightText: 2025 HAW Hamburg
# SPDX-License-Identifier: LGPL-2.1-only

config CPU_FAM_RP2350
    bool
    select CPU_CORE_CORTEX_M33

config CPU_FAM
    default "RP2350" if CPU_FAM_RP2350

config CPU_MODEL_RP2350
    bool
    select CPU_FAM_RP2350

config CPU_MODEL
    default "RP2350" if CPU_MODEL_RP2350

config CPU
    default "rp2350" if CPU_FAM_RP2350


source "$(RIOTCPU)/cortexm_common/Kconfig"
