# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

config BOARD
    default "pba-d-01-kw2x" if BOARD_PBA_D_01_KW2X

config BOARD_PBA_D_01_KW2X
    bool
    default y
    select CPU_MODEL_MKW21D256VHA5
    select HAS_PERIPH_ADC
    select HAS_PERIPH_I2C
    select HAS_PERIPH_PWM
    select HAS_PERIPH_RTC
    select HAS_PERIPH_SPI
    select HAS_PERIPH_TIMER
    select HAS_PERIPH_UART
    select HAS_RIOTBOOT

    select HAVE_SAUL_GPIO
    select HAVE_HDC1000
    select HAVE_MAG3110
    select HAVE_MMA8X5X
    select HAVE_MPL3115A2
    select HAVE_TCS37727
    select HAVE_TMP006
