# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config HAS_ARCH_32BIT
    bool
    help
        Indicates that the current architecture is a 32-bit one.

config HAS_CPP
    bool
    help
        Indicates that C++ is supported.

config HAS_CPU_CHECK_ADDRESS
    bool
    help
        Indicates that it is possible to check if an address is valid.

config HAS_PERIPH_PM
    bool
    help
        Indicates that a Power Management driver is present.

config HAS_SSP
    bool
    help
        Indicates that Stack Smashing protection is present.
