# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#
#   +-----------+
#   | CPU_MODEL |
#   +-----------+
#        || selects
#        \/
#  +------------+
#  | CPU_SERIES |
#  +------------+
#        || selects
#        \/
#  +------------+
#  | CPU_FAMILY |
#  +------------+
#        || selects
#        \/
#   +----------+
#   | CPU_ARCH |
#   +----------+
config CPU
    string
    help
        Name of the currently selected CPU.

config CPU_MODEL
    string
    help
        Model of the currently selected CPU.

config CPU_SERIES
    string
    help
        Series of the currently selected CPU.

config CPU_FAMILY
    string
    help
        Family of the currently selected CPU.

config CPU_ARCH
    string
    help
        Architecture of the currently selected CPU.
