# Copyright (c) 2020 Inria
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config BOARD
    default "blackpill-stm32f103cb" if BOARD_BLACKPILL_STM32F103CB

config BOARD_BLACKPILL_STM32F103CB
    bool
    default y
    select BOARD_COMMON_BLXXXPILL
    select CPU_MODEL_STM32F103CB

source "$(RIOTBOARD)/common/blxxxpill/Kconfig"
