# Copyright (c) 2020 Freie Universitaet Berlin
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#
menu "SKALD"
    depends on USEMODULE_SKALD

config SKALD_ADV_CHANNELS
    string "Advertising channels"
    default "37, 38, 39"
    help
        Configure advertising channels. Default advertising channels are 37, 38
        and 39 which can be customised to upto 40 (0-39) channels.

endmenu # SKALD
