# Copyright (c) 2021 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config MODULE_ATXMEGA_PERIPH
    bool
    depends on TEST_KCONFIG
    depends on CPU_COMMON_ATXMEGA
    default y
    help
        Common ATXmega peripheral drivers.

config MODULE_PERIPH_NVM
    bool
    depends on MODULE_ATXMEGA_PERIPH
    depends on HAS_PERIPH_NVM
    default y if MODULE_PERIPH_CPUID
    help
        Internal ATXmega Non Volatile Memory (NVM) driver.
