# Copyright (C) 2020 Savoir-faire Linux
#
# This file is subject to the terms and conditions of the GNU Lesser General
# Public License v2.1. See the file LICENSE in the top level directory for more
# details.

# CPU lines
config CPU_LINE_STM32MP157CXX
    bool
    select CPU_FAM_MP1
