# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config BOARD
    default "msb-430" if BOARD_MSB_430

config BOARD_MSB_430
    bool
    default y
    select BOARD_COMMON_MSB_430

source "$(RIOTBOARD)/common/msb-430/Kconfig"
