# Copyright (c) 2022 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

if USEMODULE_PSA_SECURE_ELEMENT

config PSA_MAX_SE_COUNT
    int
    prompt "Maximum number of secure elements" if USEMODULE_PSA_SECURE_ELEMENT_MULTIPLE
    range 2 255 if USEMODULE_PSA_SECURE_ELEMENT_MULTIPLE
    range 1 255

endif # USEMODULE_PSA_SECURE_ELEMENT
