# Copyright (c) 2020 HAW Hamburg
#               2023 Gunar Schorcht
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

config BOARD
    default "esp32s3-wt32-sc01-plus" if BOARD_ESP32S3_WT32_SC01_PLUS

config BOARD_ESP32S3_WT32_SC01_PLUS
    bool
    default y
    select BOARD_COMMON_ESP32S3
    select CPU_MODEL_ESP32S3_WROOM_1X_N16R2
    select HAS_ESP_JTAG
    select HAS_HIGHLEVEL_STDIO
    select HAS_PERIPH_I2C
    select HAS_PERIPH_SPI
    select HAS_PERIPH_UART
    select HAS_PERIPH_USBDEV
    select HAS_SDCARD_SPI
    select HAS_TINYUSB_DEVICE

    select HAVE_FT5X06
    select HAVE_LCD_PARALLEL
    select HAVE_MTD_SDCARD_DEFAULT
    select HAVE_ST7796

    select MODULE_FATFS_VFS if MODULE_VFS_DEFAULT
    select MODULE_USB_BOARD_RESET if MODULE_STDIO_USB_SERIAL_JTAG
    select REQUIRES_USB_STDIO if MODULE_USBUS || MODULE_TINYUSB_DEVICE

choice STDIO_IMPLEMENTATION
    default MODULE_STDIO_CDC_ACM if MODULE_USBUS
    default MODULE_STDIO_TINYUSB_CDC_ACM if MODULE_TINYUSB_DEVICE
    default MODULE_STDIO_USB_SERIAL_JTAG
endchoice

choice ESP32_I2C_IMPLEMENTATION
     default MODULE_ESP_I2C_HW
endchoice

source "$(RIOTBOARD)/common/esp32s3/Kconfig"
