# Copyright (c) 2022 Freie Universitaet Berlin
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

menu "DNS"
    depends on USEMODULE_DNS

menu "DNS message parser and composer"
    depends on USEMODULE_DNS_MSG

config DNS_MSG_LEN
    int "Maximum DNS message length"
    default 128

endmenu # DNS message parser and composer

menu "DNS cache"
    depends on USEMODULE_DNS_CACHE

config DNS_CACHE_SIZE
    int "Maximum number of DNS cache entries"
    default 4

config DNS_CACHE_A
    bool "Handle to cache A records"
    default y if USEMODULE_IPV4
    default n

config DNS_CACHE_AAAA
    bool "Handle to cache AAAA records"
    default y if USEMODULE_IPV6
    default n

endmenu # DNS cache
endmenu # DNS
