# SPDX-FileCopyrightText: 2020 Freie Universität Berlin
# SPDX-License-Identifier: LGPL-2.1-only

menu "DNS"
    depends on USEMODULE_DNS

menu "DNS message parser and composer"
    depends on USEMODULE_DNS_MSG

config DNS_MSG_LEN
    int "Maximum DNS message length"
    default 128

endmenu # DNS message parser and composer

menu "DNS cache"
    depends on USEMODULE_DNS_CACHE

config DNS_CACHE_SIZE
    int "Maximum number of DNS cache entries"
    default 4

config DNS_CACHE_A
    bool "Handle to cache A records"
    default y if USEMODULE_IPV4
    default n

config DNS_CACHE_AAAA
    bool "Handle to cache AAAA records"
    default y if USEMODULE_IPV6
    default n

endmenu # DNS cache
endmenu # DNS
