# Copyright (c) 2022 Inria
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

config PACKAGE_LORABASICS
    bool "LoRa Basics"
    depends on TEST_KCONFIG
    # depends on HAS_ARCH_32_BIT
    select MODULE_LORABASICS_SMTC_RAL

if PACKAGE_LORABASICS

config MODULE_LORABASICS_SX1280_DRIVER
    bool "LoRaBasics SX1280 driver code"
    depends on HAS_PERIPH_SPI
    depends on HAS_PERIPH_GPIO
    depends on HAS_PERIPH_GPIO_IRQ
    select MODULE_PERIPH_SPI
    select MODULE_PERIPH_GPIO
    select MODULE_PERIPH_GPIO_IRQ
    select MODULE_ZTIMER
    select MODULE_ZTIMER_MSEC
    select MODULE_LORABASICS_DRIVER_SX1280_HAL

config MODULE_LORABASICS_DRIVER_SX1280_HAL
    bool "LoRaBasicsModem SX1280 driver hal"

config MODULE_LORABASICS_SMTC_RAL
    bool "LoRaBasicsModem Radio Abstraction Layer (RAL)"

endif # PACKAGE_LORABASICS
