# Copyright (c) 2023 TU Dresden
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config MODULE_PSA_C25519_EDSIGN
    bool
    select MODULE_PSA_C25519

config MODULE_PSA_C25519
    bool
    depends on MODULE_PSA_CRYPTO
    depends on MODULE_RANDOM
