# SPDX-FileCopyrightText: 2020 Inria
# SPDX-License-Identifier: LGPL-2.1-only

config BOARD
    default "nucleo-g071rb" if BOARD_NUCLEO_G071RB

config BOARD_NUCLEO_G071RB
    bool
    default y
    select BOARD_COMMON_NUCLEO64
    select CPU_MODEL_STM32G071RB

source "$(RIOTBOARD)/common/nucleo64/Kconfig"
