# Copyright (c) 2021 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

menuconfig MODULE_VCNL40X0
    bool
    prompt "VCNL4010/VCNL4020/VCNL4040 Proximity and Ambient Light sensors" if !(MODULE_SAUL_DEFAULT && HAVE_VCNL40X0)
    default (MODULE_SAUL_DEFAULT && HAVE_VCNL40X0)
    depends on TEST_KCONFIG
    depends on HAS_PERIPH_I2C
    select MODULE_PERIPH_I2C

choice VCNL40X0_VARIANT
    bool "variant"
    depends on MODULE_VCNL40X0
    default MODULE_VCNL4010 if HAVE_VCNL4010
    default MODULE_VCNL4020 if HAVE_VCNL4020
    default MODULE_VCNL4040 if HAVE_VCNL4040

config MODULE_VCNL4010
    bool "VCNL4010"

config MODULE_VCNL4020
    bool "VCNL4020"

config MODULE_VCNL4040
    bool "VCNL4040"

endchoice

config HAVE_VCNL40X0
    bool
    help
      Indicates that a VCNL40X0 Proximity and Ambient Light sensor is present.

config HAVE_VCNL4010
    bool
    select HAVE_VCNL40X0
    help
      Indicates that a VCNL4010 Proximity and Ambient Light sensor is present.

config HAVE_VCNL4020
    bool
    select HAVE_VCNL40X0
    help
      Indicates that a VCNL4020 Proximity and Ambient Light sensor is present.

config HAVE_VCNL4040
    bool
    select HAVE_VCNL40X0
    help
      Indicates that a VCNL4040 Proximity and Ambient Light sensor is present.
