# Copyright (c) 2023 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config MODULE_TRICKLE
    bool "Trickle Algorithm (RFC 6206)"
    depends on TEST_KCONFIG
    select ZTIMER_MSEC
    select MODULE_RANDOM
