# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

menuconfig MODULE_ST77XX
    bool "ST77xx display driver"
    default y if MODULE_DISP_DEV && HAVE_ST77XX
    depends on HAS_PERIPH_SPI
    depends on HAS_PERIPH_GPIO
    depends on TEST_KCONFIG
    select MODULE_PERIPH_SPI
    select MODULE_PERIPH_GPIO
    select MODULE_LCD
    select MODULE_LCD_MULTI_CNTRL
    select MODULE_ZTIMER
    select MODULE_ZTIMER_MSEC

rsource "Kconfig.st7735"
rsource "Kconfig.st7789"
rsource "Kconfig.st7796"

config HAVE_ST77XX
    bool
    help
        Indicates that a ST77XX display is present.

config HAVE_ST7735
    bool
    select HAVE_ST77XX
    help
        Indicates that a ST7735 display is present.

config HAVE_ST7789
    bool
    select HAVE_ST77XX
    help
        Indicates that a ST7789 display is present.

config HAVE_ST7796
    bool
    select HAVE_ST77XX
    help
        Indicates that a ST7796 display is present.
