# Copyright (c) 2021 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

menu "mbed TLS mbedtls entropy"
    depends on USEMODULE_MBEDTLS_ENTROPY

config MBEDTLS_ENTROPY_HARDWARE_ALT
    bool "Let mbed TLS use your own implementation of a hardware entropy collector"
    default y
    help
        Your function must be called
        mbedtls_hardware_poll(), have the same prototype
        as declared in entropy_poll.h, and accept NULL as
        first argument.

config MBEDTLS_NO_PLATFORM_ENTROPY
    bool "Disable the built-in platform entropy functions"
    default y if !CPU_NATIVE
    help
        Do not use built-in platform entropy functions.
        This is useful if your platform does not support
        standards like the /dev/urandom or Windows
        CryptoAPI.

config MBEDTLS_ENTROPY_FORCE_SHA256
    bool "Force the entropy accumulator to use a SHA-256."
    default y
    depends on MBEDTLS_SHA256_C
    help
        Force the entropy accumulator to use a SHA-256
        accumulator instead of the default SHA-512 based
        one (if both are available). On 32-bit systems SHA-256
        can be much faster than SHA-512. Use this option if you
        have performance concerns.

endmenu # mbed TLS mbedtls entropy
