# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config MODULE_MCI
    bool "LPC23XX Multimedia Card Interface (MCI) driver"
    depends on CPU_FAM_LPC23XX
    depends on TEST_KCONFIG
