# SPDX-FileCopyrightText: 2022 HAW Hamburg
# SPDX-License-Identifier: LGPL-2.1-only

if CPU_FAM_F0 || CPU_FAM_F1 || CPU_FAM_F3

config CLOCK_PLL_PREDIV
    int "PLLIN division factor" if CUSTOM_PLL_PARAMS && !HAVE_CLOCK_PLL_PREDIV_HARDWIRED_2
    default 2 if HAVE_CLOCK_PLL_PREDIV_HARDWIRED_2 || CLOCK_HSE = 16000000
    default 1
    range 1 16

config CLOCK_PLL_MUL
    int "PLLIN multiply factor" if CUSTOM_PLL_PARAMS
    default 12 if CPU_FAM_F0 && HAVE_CLOCK_PLL_PREDIV_HARDWIRED_2
    default 6 if CPU_FAM_F0
    default 16 if CPU_FAM_F3 && HAVE_CLOCK_PLL_PREDIV_HARDWIRED_2
    default 9 if CPU_FAM_F1 || CPU_FAM_F3

    range 2 16

endif # CPU_FAM_F0 || CPU_FAM_F1 || CPU_FAM_F3
