# SPDX-FileCopyrightText: 2020 Inria
# SPDX-License-Identifier: LGPL-2.1-only

config BOARD
    default "nucleo-f031k6" if BOARD_NUCLEO_F031K6

config BOARD_NUCLEO_F031K6
    bool
    default y
    select BOARD_COMMON_NUCLEO32
    select CPU_MODEL_STM32F031K6

source "$(RIOTBOARD)/common/nucleo32/Kconfig"
