# Copyright (c) 2023 Inria
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

menuconfig MODULE_ECC
    bool "Error Correction Code (ECC) algorithms"
    depends on TEST_KCONFIG
    help
        Provides Golay1412, Hamming256 and Repetition algorithms.

if MODULE_ECC

menu "ECC algorithms"

config MODULE_ECC_GOLAY1412
    bool "Golay1412 Error Correction Code (ECC) algorithm"
    help
        Provides Golay1412 ECC algorithm.

config MODULE_ECC_HAMMING256
    bool "Hamming256 Error Correction Code (ECC) algorithm"
    help
        Provides Hamming256 ECC algorithm.

config MODULE_ECC_REPETITION
    bool "Repetition Error Correction Code (ECC) algorithm"
    help
        Provides Repetition ECC algorithm.

endmenu  # ECC algorithms

endif
