# Copyright (c) 2022 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

menu "Bottom Half Processor"

config HAVE_BHP_IRQ_HANDLER
    bool
    select MODULE_BHP
    help
        "Indicates that a module exposes an IRQ Handler to be offloaded to a
         Bottom Half Processor mechanism."

config MODULE_BHP
    bool

config MODULE_BHP_EVENT
    bool "Enable event based Bottom Half Processor implementation"
    depends on MODULE_EVENT
    depends on MODULE_BHP

config MODULE_BHP_MSG
    bool "Enable message based Bottom Half Processor implementation"
    depends on MODULE_CORE_MSG
    depends on MODULE_BHP

endmenu
