# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config CPU_COMMON_SAMD5X
    bool
    select CPU_COMMON_SAM0
    select CPU_CORE_CORTEX_M4F

config CPU_FAM_SAMD51
    bool
    select CPU_COMMON_SAMD5X

config CPU_FAM_SAME54
    bool
    select CPU_COMMON_SAMD5X

## CPU common symbols
config CPU_FAM
    default "samd51" if CPU_FAM_SAMD51
    default "same54" if CPU_FAM_SAME54

config CPU
    default "samd5x" if CPU_COMMON_SAMD5X

source "$(RIOTCPU)/samd5x/Kconfig.samd51"
source "$(RIOTCPU)/samd5x/Kconfig.same54"

source "$(RIOTCPU)/sam0_common/Kconfig"
