# SPDX-FileCopyrightText: 2020 HAW Hamburg
# SPDX-License-Identifier: LGPL-2.1-only

menu "ILI9341 driver"
    depends on USEMODULE_ILI9341

config ILI9341_GVDD
    int "GVDD voltage level (in millivolts)"
    default 4800
    range 3000 6000
    help
        Configure GVDD level, which is a reference level for the VCOM level and
        the grayscale voltage level. GVDD should be ≦ (AVDD - 0.5) V .

config ILI9341_VCOMH
    int "VCOMH voltage level (in millivolts)"
    default 4250
    range 2700 5875
    help
        Configure the high level of VCOM AC voltage. VCOM needs to be adjusted
        to match the capacitance and performance specifications of the TFT panel
        to maximize contrast and minimize flickering

config ILI9341_VCOML
    int "VCOML voltage level (in millivolts)"
    default -2000
    range -2500 0
    help
        Configure the low level of VCOM AC voltage. VCOM needs to be adjusted to
        match the capacitance and performance specifications of the TFT panel to
        maximize contrast and minimize flickering

endmenu # ILI9341 driver
