---
import { Aside } from "@astrojs/starlight/components";
---

<Aside type="tip" title="We don't bite, reach out for help!">
  <p>
    Do not be afraid to ask for help e.g. in <a
      href="https://forum.riot-os.org/">our forum</a
    > or <a href="https://matrix.to/#/#riot-os:matrix.org">Matrix chat</a>.
  </p>
  <p>
    We are happy to help you get started with RIOT, and we appreciate your
    feedback.
  </p>
</Aside>
