# SPDX-FileCopyrightText: 2020 Freie Universitaet Berlin
# SPDX-FileCopyrightText: 2020 HAW Hamburg
# SPDX-License-Identifier: LGPL-2.1-only

menu "ISL29020 driver"
    depends on USEMODULE_ISL29020

config ISL29020_DEFAULT_ADDRESS
    hex "Default I2C address"
    range 0x44 0x45
    default 0x44
    help
        The address depends on the status of A0 Pin. Default address
        corresponds to A0 connected to GND. For more information refer to the
        section 'I2C Interface' in the datasheet.

endmenu # ISL29020 driver
