# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

## Related features
config HAS_RADIO_NRF802154
    bool
    select HAVE_NRF5X_RADIO
    select MODULE_NRF802154 if MODULE_NETDEV_DEFAULT
    help
        Indicates that a IEEE 802.15.4 NRF52 radio is present.
