# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

config BOARD
    default "teensy31" if BOARD_TEENSY31

config BOARD_TEENSY31
    bool
    default y
    select CPU_MODEL_MK20DX256VLH7
