# SPDX-FileCopyrightText: 2020 HAW Hamburg
# SPDX-FileCopyrightText: 2022 Gunar Schorcht
# SPDX-License-Identifier: LGPL-2.1-only

config BOARD_COMMON_ESP32S3
    bool
    select BOARD_COMMON_ESP32X

source "$(RIOTBOARD)/common/esp32x/Kconfig"
