# Copyright (c) 2019 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

menuconfig GNRC_STACK
    bool "GNRC Network stack"
    select HAVE_STACK_NETIF

if GNRC_STACK

rsource "application_layer/dhcpv6/Kconfig"
rsource "link_layer/gomach/Kconfig"
rsource "link_layer/lorawan/Kconfig"
rsource "link_layer/lwmac/Kconfig"
rsource "link_layer/mac/Kconfig"
rsource "netapi/Kconfig"
rsource "netif/Kconfig"
rsource "netreg/Kconfig"
rsource "network_layer/Kconfig"
rsource "network_layer/ipv6/Kconfig"
rsource "network_layer/sixlowpan/Kconfig"
rsource "pkt/Kconfig"
rsource "pktbuf/Kconfig"
rsource "pktdump/Kconfig"
rsource "routing/rpl/Kconfig"
rsource "transport_layer/Kconfig"

menu "Protocol types"

comment "Protocol type definitions are used by GNRC NetAPI, Netif, Netreg and"
comment "PKT to identify network protocols throughout the network stack"

# NOTE: Not sure if these should even be visible
config MOD_GNRC_NETTYPE_GOMACH
    bool "GoMacH protocol type"

config MOD_GNRC_NETTYPE_LORAWAN
    bool "LoRaWAN protocol type"

config MOD_GNRC_NETTYPE_SIXLOWPAN
    bool "Sixlowpan protocol type"

config MOD_GNRC_NETTYPE_ICMPV6
    bool "ICMPv6 protocol type"

config MOD_GNRC_NETTYPE_IPV6_EXT
    bool "IPv6 extension header protocol type"

config MOD_GNRC_NETTYPE_IPV6
    bool "IPv6 protocol type"

config MOD_GNRC_NETTYPE_UDP
    bool "UDP protocol type"

config MOD_GNRC_NETTYPE_TCP
    bool "TCP protocol type"

endmenu # Protocol types

endif # GNRC_STACK
