# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

menuconfig MODULE_ATWINC15X0
    bool
    prompt "ATWINC15x0 WiFi module" if !(MODULE_NETDEV_DEFAULT && HAVE_ATWINC15X0)
    default y if (MODULE_NETDEV_DEFAULT && HAVE_ATWINC15X0)
    depends on HAS_PERIPH_GPIO
    depends on HAS_PERIPH_GPIO_IRQ
    depends on HAS_PERIPH_SPI
    depends on TEST_KCONFIG
    select PACKAGE_DRIVER_ATWINC15X0
    select MODULE_PERIPH_GPIO
    select MODULE_PERIPH_GPIO_IRQ
    select MODULE_PERIPH_SPI
    select MODULE_NETDEV_ETH
    select MODULE_ZTIMER_MSEC
    help
        This netdev device driver is used for the Microchip ATWINC15x0
        WiFi module. The ATWINC15x0 WiFi module is widely used as WiFi
        interface on various boards and extension boards.

if MODULE_ATWINC15X0

config WIFI_SSID
    string "WiFi SSID"
    default "my_ssid"
    help
        SSID of the AP to be used.

config WIFI_PASS
    string "WiFi passphrase"
    default "my_pass"
    help
        Passphrase used for the AP as clear text (max. 64 chars).

endif # MODULE_ATWINC15X0

config HAVE_ATWINC15X0
    bool
    help
      Indicates that a ATWINC15x0 module is present.

