# Copyright (c) 2022 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config CHUNK_NUM_MAX
    int "Maximum number of chunks to store"
    depends on USEMODULE_CHUNKED_RINGBUFFER
    default 4
