# SPDX-FileCopyrightText: 2020 HAW Hamburg
# SPDX-License-Identifier: LGPL-2.1-only

if USEMODULE_AUTO_INIT

config AUTO_INIT_ENABLE_DEBUG
    bool "Print a debug message before a module is initialized"
    default n

endif # USEMODULE_AUTO_INIT
