# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

menuconfig MODULE_AUTO_INIT
    bool "Auto-initialization system"
    default y
    depends on TEST_KCONFIG
    help
        Auto-initialization module. Can be used to initialize modules (such as
        drivers, or network interfaces) on start-up automatically. Disable if a
        more custom initialization is required. If unsure, say Y.

if MODULE_AUTO_INIT

rsource "screen/Kconfig"
rsource "multimedia/Kconfig"

endif # MODULE_AUTO_INIT
