# SPDX-FileCopyrightText: 2020 HAW Hamburg
# SPDX-License-Identifier: LGPL-2.1-only

config BOARD
    default "yunjia-nrf51822" if BOARD_YUNJIA_NRF51822

config BOARD_YUNJIA_NRF51822
    bool
    default y
    select BOARD_COMMON_NRF51
    select CPU_MODEL_NRF51X22XXAA

source "$(RIOTBOARD)/common/nrf51/Kconfig"
