# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

if TEST_KCONFIG

config MODULE_PERIPH_COMMON
    bool
    help
        Common peripherals module.

config MODULE_PERIPH_INIT
    bool "Peripherals auto-initialization"
    default y
    help
        Auto-initialization of all used peripherals.

# Common peripheral modules and auto-init
config MODULE_PERIPH_ADC
    bool "ADC peripheral driver"
    depends on HAS_PERIPH_ADC
    select MODULE_PERIPH_COMMON

config MODULE_PERIPH_INIT_ADC
    bool "Auto initialize ADC peripheral"
    default y if MODULE_PERIPH_INIT
    depends on MODULE_PERIPH_ADC

config MODULE_PERIPH_INIT_BUTTONS
    bool
    depends on TEST_KCONFIG
    help
        Enable auto initialization of on-board buttons

config MODULE_PERIPH_CPUID
    bool "CPU unique ID"
    depends on HAS_PERIPH_CPUID
    select MODULE_PERIPH_COMMON

config MODULE_PERIPH_INIT_CPUID
    bool "Auto initialize CPU unique ID driver"
    default y if MODULE_PERIPH_INIT
    depends on MODULE_PERIPH_CPUID

config MODULE_PERIPH_DAC
    bool "DAC peripheral driver"
    depends on HAS_PERIPH_DAC
    select MODULE_PERIPH_COMMON

config MODULE_PERIPH_INIT_DAC
    bool "Auto initialize DAC peripheral"
    default y if MODULE_PERIPH_INIT
    depends on MODULE_PERIPH_DAC

config MODULE_PERIPH_DMA
    bool "DMA peripheral driver"
    depends on HAS_PERIPH_DMA
    select MODULE_PERIPH_COMMON

config MODULE_PERIPH_INIT_DMA
    bool "Auto initialize DMA peripheral"
    default y if MODULE_PERIPH_INIT
    depends on MODULE_PERIPH_DMA

config MODULE_PERIPH_EEPROM
    bool "EEPROM peripheral driver"
    depends on HAS_PERIPH_EEPROM
    select MODULE_PERIPH_COMMON

config MODULE_PERIPH_INIT_EEPROM
    bool "Auto initialize EEPROM peripheral"
    default y if MODULE_PERIPH_INIT
    depends on MODULE_PERIPH_EEPROM

rsource "Kconfig.flashpage"

rsource "Kconfig.gpio"

config MODULE_PERIPH_HWRNG
    bool "HWRNG peripheral driver"
    depends on HAS_PERIPH_HWRNG
    select MODULE_PERIPH_COMMON

config MODULE_PERIPH_INIT_HWRNG
    bool "Auto initialize HWRNG peripheral"
    default y if MODULE_PERIPH_INIT
    depends on MODULE_PERIPH_HWRNG

rsource "Kconfig.i2c"

config MODULE_PERIPH_PIO
    bool "Programmable IO (PIO) peripheral driver"
    depends on HAS_PERIPH_PIO
    select MODULE_PERIPH_COMMON

config MODULE_PERIPH_INIT_PIO
    bool "Auto initialize programmable IO (PIO) peripheral driver"
    default y if MODULE_PERIPH_INIT
    depends on MODULE_PERIPH_PIO

config MODULE_PERIPH_PM
    bool "Power Management (PM) peripheral driver"
    default y
    depends on HAS_PERIPH_PM
    select MODULE_PERIPH_COMMON

config MODULE_PERIPH_INIT_PM
    bool "Auto initialize Power Management (PM) peripheral"
    default y if MODULE_PERIPH_INIT
    depends on MODULE_PERIPH_PM

config MODULE_PERIPH_PWM
    bool "PWM peripheral driver"
    depends on HAS_PERIPH_PWM
    select MODULE_PERIPH_COMMON

config MODULE_PERIPH_INIT_PWM
    bool "Auto initialize PWM peripheral"
    default y if MODULE_PERIPH_INIT
    depends on MODULE_PERIPH_PWM

config MODULE_PERIPH_QDEC
    bool "Quadrature Decoder (QDEC) peripheral driver"
    depends on HAS_PERIPH_QDEC
    select MODULE_PERIPH_COMMON

config MODULE_PERIPH_INIT_QDEC
    bool "Auto initialize Quadrature Decoder (QDEC) peripheral"
    default y if MODULE_PERIPH_INIT
    depends on MODULE_PERIPH_QDEC

rsource "Kconfig.leds"
rsource "Kconfig.rtc"

config MODULE_PERIPH_RTT
    bool "RTT peripheral driver"
    depends on HAS_PERIPH_RTT
    select MODULE_PERIPH_COMMON

config MODULE_PERIPH_RTT_SET_COUNTER
    bool "rtc_set_counter() implementation in the RTT peripheral driver"
    depends on HAS_PERIPH_RTT_SET_COUNTER && MODULE_PERIPH_RTT

config MODULE_PERIPH_INIT_RTT_SET_COUNTER
    bool "Auto initialize rtc_set_counter() with RTT"
    default y if MODULE_PERIPH_INIT
    depends on MODULE_PERIPH_RTT_SET_COUNTER

config MODULE_PERIPH_INIT_RTT
    bool "Auto initialize RTT peripheral"
    default y if MODULE_PERIPH_INIT
    depends on MODULE_PERIPH_RTT

rsource "Kconfig.spi"

config MODULE_PERIPH_TEMPERATURE
    bool "Temperature peripheral driver"
    depends on HAS_PERIPH_TEMPERATURE
    select MODULE_PERIPH_COMMON

config MODULE_PERIPH_INIT_TEMPERATURE
    bool "Auto initialize temperature peripheral"
    default y if MODULE_PERIPH_INIT
    depends on MODULE_PERIPH_TEMPERATURE

rsource "Kconfig.timer"
rsource "Kconfig.uart"
rsource "Kconfig.usbdev"

endif # TEST_KCONFIG

config HAVE_SHARED_PERIPH_RTT_PERIPH_RTC
    bool
    help
        The periph_rtc module or the periph_rtt module share hardware, thus,
        only one can be selected.

rsource "Kconfig.vbat"
rsource "Kconfig.wdt"
