# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

menuconfig MODULE_PERIPH_FLASHPAGE
    bool "Flashpage peripheral driver"
    depends on HAS_PERIPH_FLASHPAGE
    select MODULE_PERIPH_COMMON

# TODO: the 'init' modules are actually just artifacts from the way
# periph_init_% modules are handled in Makefile. We need to define them to keep
# the list the same for now. We should be able to remove them later on.

config MODULE_PERIPH_INIT_FLASHPAGE
    bool "Auto initialize Flashpage peripheral"
    default y if MODULE_PERIPH_INIT
    depends on MODULE_PERIPH_FLASHPAGE

config MODULE_PERIPH_FLASHPAGE_PAGEWISE
    bool "Pagewise writing support"
    depends on HAS_PERIPH_FLASHPAGE_PAGEWISE
    depends on MODULE_PERIPH_FLASHPAGE

config MODULE_PERIPH_INIT_FLASHPAGE_PAGEWISE
    bool "Auto initialize Flashpage pagewise"
    default y if MODULE_PERIPH_INIT
    depends on MODULE_PERIPH_FLASHPAGE_PAGEWISE

config MODULE_PERIPH_FLASHPAGE_RWEE
    bool "Read while Write support"
    depends on HAS_PERIPH_FLASHPAGE_RWEE
    depends on MODULE_PERIPH_FLASHPAGE

config MODULE_PERIPH_INIT_FLASHPAGE_RWEE
    bool "Auto initialize Flashpage RWEE"
    default y if MODULE_PERIPH_INIT
    depends on MODULE_PERIPH_FLASHPAGE_RWEE
