# SPDX-FileCopyrightText: 2020 HAW Hamburg
# SPDX-License-Identifier: LGPL-2.1-only

if USEMODULE_PERIPH_I2C

# TODO: this module is actually just an artifact from the way periph_init_%
# modules are handled in Makefile. We need to define it to keep the list the
# same for now. We should be able to remove it later on.

endif # USEMODULE_PERIPH_I2C

osource "$(RIOTCPU)/$(CPU)/periph/Kconfig.i2c"
