# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

if USEMODULE_PERIPH_I2C

# TODO: this module is actually just an artifact from the way periph_init_%
# modules are handled in Makefile. We need to define it to keep the list the
# same for now. We should be able to remove it later on.

endif # USEMODULE_PERIPH_I2C

osource "$(RIOTCPU)/$(CPU)/periph/Kconfig.i2c"
