CONFIG_KCONFIG_USEMODULE_GNRC_IPV6_NIB=y
CONFIG_KCONFIG_USEMODULE_GNRC_SIXLOWPAN=y
CONFIG_KCONFIG_USEMODULE_GNRC_SIXLOWPAN_FRAG_SFR=y
# disable router solicitations so they don't interfere with the tests
CONFIG_GNRC_IPV6_NIB_NO_RTR_SOL=y
# preconfigure SFR for tests
CONFIG_GNRC_SIXLOWPAN_SFR_OPT_WIN_SIZE=3
CONFIG_GNRC_SIXLOWPAN_SFR_INTER_FRAME_GAP_US=5
CONFIG_GNRC_SIXLOWPAN_SFR_MIN_ARQ_TIMEOUT_MS=100
CONFIG_GNRC_SIXLOWPAN_SFR_OPT_ARQ_TIMEOUT_MS=100
