# SPDX-FileCopyrightText: 2020 HAW Hamburg
# SPDX-License-Identifier: LGPL-2.1-only

menu "nRF802154"
    depends on USEMODULE_NRF802154

config NRF802154_CCA_THRESH_DEFAULT
    hex "Default CCA threshold value"
    default 0x14
    range 0x00 0xFF
    help
        Default CCA threshold value for the CCACTRL register.

endmenu # nRF802154
