# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config HAS_CPU_CORE_ATMEGA
    bool
    select CPU_ARCH_AVR8
    select HAS_CPP

config CPU_COMMON_ATMEGA
    bool
    select HAS_CPU_CORE_ATMEGA
    select HAS_ATMEGA_PCINT0
    select HAS_DBGPIN
    select HAS_PERIPH_CPUID
    select HAS_PERIPH_EEPROM
    select HAS_PERIPH_GPIO
    select HAS_PERIPH_GPIO_IRQ
    select HAS_PERIPH_PM
    select HAS_PERIPH_RTT_SET_COUNTER
    select HAS_PERIPH_TIMER_PERIODIC
    select HAS_PERIPH_RTT_OVERFLOW
    select HAS_PERIPH_WDT
    select HAS_PUF_SRAM

# Define ATMega128 family here as it is used by different CPUs
config CPU_FAM_ATMEGA128
    bool
    select CPU_COMMON_ATMEGA
    select CPU_CORE_AVR

## Common CPU symbols
config CPU_FAM
    default "atmega128" if CPU_FAM_ATMEGA128

## Declaration of specific features
config HAS_ATMEGA_PCINT0
    bool
    help
        Indicates that the Pin Change Interrupt bank 0 is present.

config HAS_ATMEGA_PCINT1
    bool
    help
        Indicates that the Pin Change Interrupt bank 1 is present.

config HAS_ATMEGA_PCINT2
    bool
    help
        Indicates that the Pin Change Interrupt bank 2 is present.

config HAS_ATMEGA_PCINT3
    bool
    help
        Indicates that the Pin Change Interrupt bank 3 is present.

config ERROR_MODULES_CONFLICT
    default "On ATmega, the RTC and RTT use to the same hardware timer." if MODULE_PERIPH_RTC && MODULE_PERIPH_RTT
    depends on CPU_COMMON_ATMEGA

source "$(RIOTCPU)/avr8_common/Kconfig"
