# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#
menuconfig KCONFIG_USEMODULE_GNRC_SIXLOWPAN_ND
    bool "Configure GNRC 6LoWPAN Neighbor Discovery"
    depends on USEMODULE_GNRC_SIXLOWPAN_ND
    help
        Configure GNRC 6LoWPAN Neighbor Discovery module using Kconfig.

if KCONFIG_USEMODULE_GNRC_SIXLOWPAN_ND

config GNRC_SIXLOWPAN_ND_AR_LTIME
    int "Registration lifetime for the address registration option in minutes"
    depends on USEMODULE_GNRC_IPV6_NIB
    default 15
    help
        This value should be adapted to the devices power-lifecycle so that it is
        greater than the time the device spends sleeping. See RFC 6775, section
        5.8.1.

endif # KCONFIG_USEMODULE_GNRC_SIXLOWPAN_ND
