# Copyright (c) 2021 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config MODULE_VFS
    bool "Virtual File System (VFS)"
    depends on TEST_KCONFIG
    select MODULE_POSIX_HEADERS

config MODULE_VFS_DEFAULT
    bool "Use default (board specific) file systems and mount points"
    depends on MODULE_VFS
    imply MODULE_VFS_AUTO_MOUNT

config MODULE_VFS_AUTO_MOUNT
    bool "Automatically mount configured file systems"
    depends on MODULE_VFS

config MODULE_VFS_AUTO_FORMAT
    bool "Automatically format configured file systems if mount fails"
    depends on MODULE_VFS
