# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config PKG_CCN_LITE
    bool "CCN-lite"
    depends on MOD_EVTIMER
    select MOD_CCN_LITE_UTILS
    select MOD_POSIX_HEADERS
    select MOD_RANDOM
    select MOD_TIMEX

config MOD_CCN_LITE_UTILS
    bool
    help
        Enables utilities related to CCN-lite, like shell commands.
