# Copyright (c) 2021 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config MODULE_EFM32_CORETEMP
    bool "EFM32 internal temperature sensor driver"
    depends on TEST_KCONFIG
    depends on HAS_EFM32_CORETEMP
    depends on HAS_PERIPH_ADC
    select MODULE_PERIPH_ADC

config HAS_EFM32_CORETEMP
    bool
    select MODULE_EFM32_CORETEMP if MODULE_SAUL_DEFAULT && HAS_PERIPH_ADC
    help
        Indicates that the EFM32 coretemp driver is being used.
