# SPDX-FileCopyrightText: 2020 Inria
# SPDX-License-Identifier: LGPL-2.1-only

config BOARD
    default "b-l072z-lrwan1" if BOARD_B_L072Z_LRWAN1

config BOARD_B_L072Z_LRWAN1
    bool
    default y
    select CPU_MODEL_STM32L072CZ

    # Clock configuration
    select BOARD_HAS_LSE

source "$(RIOTBOARD)/common/stm32/Kconfig"
