# Copyright (c) 2021 Inria
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

config PACKAGE_UZLIB
    bool "uzlib - Deflate/Zlib-compatible LZ77 compression/decompression library"
    depends on TEST_KCONFIG
