# Copyright (c) 2020 Inria
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

config EFM32_XTIMER_USE_LETIMER
    bool "xtimer uses LETIMER (effectively ztimer)"
    depends on CPU_COMMON_EFM32 && USEMODULE_ZTIMER
    default n
    help
        xtimer (effectively ztimer) will use EFM32 Low Energy Timer (LETIMER)
        as its low level timer.

config EFM32_ZTIMER_USE_LETIMER
    bool "ztimer uses LETIMER"
    depends on CPU_COMMON_EFM32 && USEMODULE_ZTIMER
    default n
    help
        ztimer will use EFM32 Low Energy Timer (LETIMER) as its low level
        timer.
