# Copyright (c) 2021 HAW Hamburg
#               2022 Gunar Schorcht
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config MODULE_ESP_IDF
    bool
    depends on TEST_KCONFIG
    depends on HAS_ARCH_ESP32
    default y
    select MODULE_ESP_IDF_COMMON
    select MODULE_ESP_IDF_EFUSE
    select MODULE_ESP_IDF_SPI_FLASH if MODULE_MTD || MODULE_PERIPH_FLASHPAGE
    select MODULE_ESP_IDF_USB if MODULE_TINYUSB_PORTABLE_ESPRESSIF
    help
      Espressif IoT Development Framework.

rsource "adc/Kconfig"
rsource "ble/Kconfig"
rsource "common/Kconfig"
rsource "efuse/Kconfig"
rsource "eth/Kconfig"
rsource "event/Kconfig"
rsource "gpio/Kconfig"
rsource "heap/Kconfig"
rsource "nvs_flash/Kconfig"
rsource "rmt/Kconfig"
rsource "spi_flash/Kconfig"
rsource "spi_ram/Kconfig"
rsource "usb/Kconfig"
rsource "wifi/Kconfig"
rsource "wpa_supplicant/Kconfig"
