# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config MOD_NETDEV_TAP
    bool "Low-level ethernet driver for tap interfaces"
    default y if MOD_NETDEV_DEFAULT
    depends on MOD_NETIF
    depends on MOD_NETDEV_ETH
    depends on CPU_ARCH_NATIVE
    select MOD_IOLIST

config HAVE_TAP
    bool
    select HAVE_NETDEV_ETHERNET
    help
        Indicates that a tap interface is present.
