# Copyright (c) 2022 Gunar Schorcht
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config MODULE_ESP_IDF_EFUSE
    bool
    depends on TEST_KCONFIG
    depends on MODULE_ESP_IDF
    help
        ESP-IDF code for accessing eFuse bits of ESP32 SoCs, as required for
        accessing the MAC addresses of network devices or accessing the
        external SPI RAM.
