# Copyright (c) 2022 Inria
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config PACKAGE_JERRYSCRIPT
    bool "Ultra-lightweight Javascript interpreter"
    depends on TEST_KCONFIG
    depends on HAS_ARCH_32BIT
    depends on !HAS_ARCH_MIPS32R2

    select MODULE_JERRYSCRIPT-PORT-DEFAULT
    select MODULE_JERRYSCRIPT-EXT

config MODULE_JERRYSCRIPT-PORT-DEFAULT
    bool

config MODULE_JERRYSCRIPT-EXT
    bool
