# Copyright (c) 2021 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config MODULE_IOLIST
    bool "iolist scatter / gather IO"
    depends on TEST_KCONFIG
