# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#
config BOARD
    string
    help
        Name of the currently selected board.

config MODULE_BOARD
    bool
    default y
    depends on TEST_KCONFIG
    help
        Module which holds all board-specific files.

config MODULE_AUTO_INIT_LEDS
    bool
    default y
    depends on TEST_KCONFIG
    help
        Enable auto initalization of board leds

config MODULE_AUTO_INIT_LED0
    bool
    default y
    depends on TEST_KCONFIG
    help
        Enable auto initalization of LED0 if present

config MODULE_AUTO_INIT_LED1
    bool
    default y
    depends on TEST_KCONFIG
    help
        Enable auto initalization of LED1 if present

config MODULE_AUTO_INIT_LED2
    bool
    default y
    depends on TEST_KCONFIG
    help
        Enable auto initalization of LED2 if present

config MODULE_AUTO_INIT_LED3
    bool
    default y
    depends on TEST_KCONFIG
    help
        Enable auto initalization of LED3 if present

config MODULE_AUTO_INIT_LED4
    bool
    default y
    depends on TEST_KCONFIG
    help
        Enable auto initalization of LED4 if present

config MODULE_AUTO_INIT_LED5
    bool
    default y
    depends on TEST_KCONFIG
    help
        Enable auto initalization of LED5 if present

config MODULE_AUTO_INIT_LED6
    bool
    default y
    depends on TEST_KCONFIG
    help
        Enable auto initalization of LED6 if present

config MODULE_AUTO_INIT_LED7
    bool
    default y
    depends on TEST_KCONFIG
    help
        Enable auto initalization of LED7 if present
