# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config MODULE_MPL3115A2
    bool "MPL3115A2 Pressure Sensor"
    depends on HAS_PERIPH_I2C
    depends on TEST_KCONFIG
    select MODULE_PERIPH_I2C

config HAVE_MPL3115A2
    bool
    select MODULE_MPL3115A2 if MODULE_SAUL_DEFAULT
    help
      Indicates that an mpl3115a2 pressure sensor is present.
