# SPDX-FileCopyrightText: 2020 iosabi
# SPDX-License-Identifier: LGPL-2.1-only

config CPU_FAM_QN908X
    bool
    select CPU_CORE_CORTEX_M4F

## CPU Models
# For cpus QN9080CHN (revision C) and QN9080DHN (revision D)
config CPU_MODEL_QN9080XHN
    bool
    select CPU_FAM_QN908X

# For the smaller package for the same die, with 28 GPIOs instead of 35.
# cpus QN9083CUK (revision C) and QN9083DUK (revision D)
config CPU_MODEL_QN9083XUK
    bool
    select CPU_FAM_QN908X

## CPU common symbols
config CPU_FAM
    default "qn908x" if CPU_FAM_QN908X

config CPU_MODEL
    default "qn9080xhn" if CPU_MODEL_QN9080XHN
    default "qn9083xhk" if CPU_MODEL_QN9083XUK

config CPU
    default "qn908x" if CPU_FAM_QN908X

# Other cpu configuration
rsource "Kconfig.clk"

source "$(RIOTCPU)/cortexm_common/Kconfig"
