# Copyright (c) 2022 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config MODULE_CC2420
    bool "CC2420 radio"
    depends on TEST_KCONFIG
    depends on HAS_PERIPH_GPIO
    depends on HAS_PERIPH_GPIO_IRQ
    depends on HAS_PERIPH_SPI
    select MODULE_IEEE802154
    select MODULE_NETDEV
    select MODULE_NETDEV_IEEE802154
    select MODULE_NETDEV_LEGACY_API
    select MODULE_PERIPH_GPIO
    select MODULE_PERIPH_GPIO_IRQ
    select MODULE_PERIPH_SPI
    select MODULE_XTIMER

config HAVE_CC2420
    bool
    select MODULE_CC2420 if MODULE_NETDEV_DEFAULT
    help
        Indicates that a CC2420 radio is present.
