# SPDX-FileCopyrightText: 2020 Freie Universität Berlin
# SPDX-FileCopyrightText: 2020 HAW Hamburg
# SPDX-License-Identifier: LGPL-2.1-only

config CPU_FAM_MSP430_F2XX_G2XX
    bool
    select CPU_MSP430

## CPU Models
config CPU_MODEL_MSP430F2617
    bool
    select CPU_FAM_MSP430_F2XX_G2XX

config CPU_MODEL_MSP430F2618
    bool
    select CPU_FAM_MSP430_F2XX_G2XX

## Common CPU symbols
config CPU_FAM
    default "msp430_f2xx_g2xx" if HAS_CPU_MSP430_F2XX_G2XX

config CPU_MODEL
    default "msp430f2617" if CPU_MODEL_MSP430F2617
    default "msp430f2618" if CPU_MODEL_MSP430F2618
