# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

config BOARD
    default "esp32-ttgo-t-beam" if BOARD_ESP32_TTGO_T_BEAM

config BOARD_ESP32_TTGO_T_BEAM
    bool
    default y
    select BOARD_COMMON_ESP32
    select CPU_MODEL_ESP32_D0WD

source "$(RIOTBOARD)/common/esp32/Kconfig"
