CONFIG_LIBCOAP_SERVER_SUPPORT=y
CONFIG_LIBCOAP_CLIENT_SUPPORT=y

CONFIG_LIBCOAP_USE_PSK="secretPSK"
CONFIG_LIBCOAP_USE_PSK_ID="test_user"

CONFIG_KCONFIG_USEPKG_LIBCOAP=y
# Logging levels are defined in pkg/libcoap using Kconfig
CONFIG_LIBCOAP_LOG_ALERT=y

CONFIG_KCONFIG_USEPKG_TINYDTLS=y
CONFIG_DTLS_PEER_MAX=2
CONFIG_DTLS_HANDSHAKE_MAX=2
