menuconfig KCONFIG_EXTERNAL_PKG_2
    bool "Configure external package message 2"
    default y
    help
        This will enable configuring the external package message

if KCONFIG_EXTERNAL_PKG_2

config EXTERNAL_PKG_2_MESSAGE
    string "External package 2 text"
    default "External package message 2 defined in Kconfig file"

endif # KCONFIG_EXTERNAL_PKG_2
