# Copyright (c) 2020 Freie Universitaet Berlin
#               2021 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

menu "TCS37727 driver"
    depends on USEMODULE_TCS37727

config TCS37727_ATIME_DEFAULT
    int "RGBC integration time in microseconds"
    range 2400 614000
    default 200000
    help
        RGBC integration time impacts both the resolution and the sensitivity
        of the RGBC reading. Refer to the section "RGBC Time Register" in the
        datasheet for more information.

endmenu # TCS37727 driver
