# SPDX-FileCopyrightText: 2020 Inria
# SPDX-License-Identifier: LGPL-2.1-only

config BOARD
    default "nucleo-f334r8" if BOARD_NUCLEO_F334R8

config BOARD_NUCLEO_F334R8
    bool
    default y
    select BOARD_COMMON_NUCLEO64
    select CPU_MODEL_STM32F334R8

source "$(RIOTBOARD)/common/nucleo64/Kconfig"
