# SPDX-FileCopyrightText: 2020 Inria
# SPDX-License-Identifier: LGPL-2.1-only

config BOARD
    default "hifive1" if BOARD_HIFIVE1

config BOARD_HIFIVE1
    bool
    default y
    select CPU_MODEL_FE310_G000
