# Copyright (c) 2020 Inria
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config CPU_STM32
    bool

menu "STM32 configuration"

# Common CPU symbol
config CPU
    default "stm32" if CPU_STM32


menu "STM32 clock configuration"
    depends on CPU_STM32

rsource "kconfigs/Kconfig.clk"
orsource "kconfigs/$(CPU_FAM)/Kconfig.clk"

endmenu

rsource "kconfigs/$(CPU_FAM)/Kconfig"
rsource "kconfigs/$(CPU_FAM)/Kconfig.lines"
rsource "kconfigs/$(CPU_FAM)/Kconfig.models"

choice
    prompt "ReaDout Protection level"
    default RDP0
    help
        Set minimum running RDP level.
        RDP0 is full debug permissions, RDP1 disables read from Flash but
        otherwise leaves debug enabled, RDP2 disables JTAG completely. If
        there is a mismatch between desired RDP level here and RDP level
        set on the chip, early cpu init will hang.  This ensures production
        devices with the wrong RDP level, by fault or malace intent, will
        not run.  See cpu manual for further details on RDP.
depends on (CPU_FAM_F1 || CPU_FAM_F2 || CPU_FAM_F3 || CPU_FAM_F4 || CPU_FAM_F7)
config RDP0
    bool "RDP0"
config RDP1
    bool "RDP1"
config RDP2
    bool "RDP2"
endchoice

endmenu
