# Copyright (c) 2021 Inria
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config HAVE_SAUL_NRF_TEMPERATURE
    bool
    select MODULE_SAUL_NRF_TEMPERATURE if MODULE_SAUL_DEFAULT && HAS_PERIPH_TEMPERATURE
    help
        Indicates that a SAUL wrapper to the temperature peripheral is present.

if TEST_KCONFIG

config MODULE_NRF5X_COMMON_PERIPH
    bool
    default y
    help
        nrf52 common peripheral code.

config MODULE_VDD_LC_FILTER_REG0
    bool
    depends on HAS_VDD_LC_FILTER_REG0
    default y
    help
        Use the LC filter attached to the CPUs voltage regulator

config MODULE_VDD_LC_FILTER_REG1
    bool
    depends on HAS_VDD_LC_FILTER_REG1
    default y
    help
        Use the LC filter attached to the CPUs voltage regulator

endif # TEST_KCONFIG
