# Copyright (c) 2019 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#
menu "GNRC IPv6 Whitelisting"
    depends on USEMODULE_GNRC_IPV6_WHITELIST

config GNRC_IPV6_WHITELIST_SIZE
    int "Maximum size of the whitelist"
    default 8

endmenu # GNRC IPv6 Whitelisting
