# Copyright (c) 2020 Freie Universitaet Berlin
#               2021 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

menu "TMP00X driver"
    depends on USEMODULE_TMP00X

config TMP00X_I2C_ADDRESS
    hex "Default I2C Address"
    range 0x40 0x47
    default 0x40
    help
        TMP006/TMP007 allows for up to 8 devices on a single bus. The address
        value depends on the state of ADR0 and ADR1 pins. Default value (0x40)
        corresponds to ADR0 and ADR1 pins tied to GND. For more information
        refer to the 'Serial Bus Address' section in the datasheet.

choice
    bool "Conversion time"
    default TMP00X_CONVERSION_TIME_1S
    help
        The duration of the analog-to-digital(A/D) conversion is determined by
        the conversion rate bits CR0, CR1 and CR2. For more information refer
        datasheet.

config TMP00X_CONVERSION_TIME_0_25S
    bool "0.25 s"

config TMP00X_CONVERSION_TIME_0_5S
    bool "0.5 s"

config TMP00X_CONVERSION_TIME_1S
    bool "1 s"

config TMP00X_CONVERSION_TIME_2S
    bool "2 s"

config TMP00X_CONVERSION_TIME_4S
    bool "4 s"

endchoice

config TMP00X_USE_LOW_POWER
    bool "Enable low power mode"
    help
        Enable this to put the device in low power mode between measurements.
        By default the device will always be on. Enabling this also adds a delay
        based on "Conversion time" to each measurement call for bringing the
        device out of standby.

config TMP00X_USE_RAW_VALUES
    bool "Enable raw ADC readings"
    help
        Enable this to return raw ADC readings. By default measurements are
        converted to Celsius.

endmenu # TMP00X driver
