# Copyright (c) 2022 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config MODULE_ESP_ETH
    bool "ESP32 Ethernet device"
    depends on TEST_KCONFIG
    depends on CPU_FAM_ESP32
    depends on HAS_ESP_ETH
    select MODULE_ESP_IDF_ETH
    select MODULE_ESP_IDF_EVENT
    select MODULE_ESP_IDF_SPI_FLASH
    select MODULE_NETDEV_ETH
    select MODULE_NETOPT
    select MODULE_ZTIMER
    select MODULE_ZTIMER_MSEC

config HAS_ESP_ETH
    bool
    select MODULE_ESP_ETH if MODULE_NETDEV_DEFAULT
    help
        Indicates that a ESP32 ethernet device is present.
