# Copyright (c) 2020 Freie Universitaet Berlin
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#
menu "EMCUTE"
    depends on USEMODULE_EMCUTE

config EMCUTE_DEFAULT_PORT
    int "Default UDP port to listen on"
    default 1883
    help
        Default UDP port to listen on (also used as SRC port). This will write
        to macro 'CONFIG_EMCUTE_DEFAULT_PORT'. Usage can be found in
        examples/emcute_mqttsn.

config EMCUTE_BUFSIZE
    int "Buffer size used for TX and RX buffers"
    range 1 32768 if HAS_ARCH_16BIT || HAS_ARCH_8BIT
    default 512
    help
        Configure the size of buffer used for TX and RX. The buffer size MUST be
        less than 32768 on 16-bit and 8-bit platforms to prevent buffer
        overflows.

config EMCUTE_TOPIC_MAXLEN
    int "Maximum topic length"
    default 196
    help
        Configure maximum length for client's topic. The value must be less than
        (256 - 6) and less than ('CONFIG_EMCUTE_BUFSIZE' - 6).

config EMCUTE_KEEPALIVE
    int "Keep alive interval in seconds"
    range 300 $(UINT32_MAX)
    default 360
    help
        Configure keep alive interval in seconds. The node will communicate this
        interval to the gateway send a ping message every time when this amount
        of time has passed. For more information, see MQTT-SN Spec v1.2, section
        5.4.4. For default values, see section 7.2 -> TWAIT: > 5 min. Default
        value is 360 seconds which corresponds to 6 minutes.

config EMCUTE_T_RETRY
    int "Retry timer in seconds"
    range 10 15
    default 15
    help
        Configure re-send interval used for timing the retry messages which are
        sent when the expected reply from GW is not received. The retry timer is
        started by the client when the message is sent and stopped when the
        expected reply from GW is received. If the timer times out and the
        expected GW’s reply is not received, the client retransmits the message.
        For more information, see MQTT-SN Spec v1.2, section 6.13. For default
        values, see section 7.2 -> Tretry: 10 to 15 sec.

config EMCUTE_N_RETRY
    int "Maximum number of retransmissions"
    range 3 5
    default 3
    help
        Configure 'CONFIG_EMCUTE_N_RETRY',the maximum number of retransmissions
        in the event that the retry timer times out. After
        'CONFIG_EMCUTE_N_RETRY' number of retransmissions, the client aborts the
        procedure and assumes that its MQTT-SN connection to the gateway is
        disconnected. For more information, see MQTT-SN Spec v1.2, section 6.13.
        For default values, see section 7.2 -> Nretry: 3-5.

endmenu # EMCUTE
