# SPDX-FileCopyrightText: 2020 HAW Hamburg
# SPDX-License-Identifier: LGPL-2.1-only

config CPU_FAM_LM4F120
    bool
    select CPU_CORE_CORTEX_M4F

config CPU_MODEL_LM4F120H5QR
    bool
    select CPU_FAM_LM4F120

## Common CPU symbols
config CPU_FAM
    default "lm4f120" if CPU_FAM_LM4F120

config CPU
    default "lm4f120" if CPU_FAM_LM4F120

config CPU_MODEL
    # uppercase to match the Makefile.features
    default "LM4F120H5QR" if CPU_MODEL_LM4F120H5QR

source "$(RIOTCPU)/cortexm_common/Kconfig"
