config MODULE_CONGURE_RENO
    bool "CongURE implementation of TCP Reno"
    depends on MODULE_CONGURE
    select MODULE_CONGURE_RENO_METHODS

config MODULE_CONGURE_RENO_METHODS
    bool "Send driver methods for the CongURE implementation of TCP Reno"
    depends on MODULE_SEQ
    help
        Many other congestion control mechanisms are just adaptations of TCP
        Reno, so this makes the methods of @ref sys_congure_reno available to
        other @ref sys_congure modules. Use module `congure_reno_methods` to
        only compile in these modules, but not the driver for
        `congure_reno_snd_t` or @ref congure_reno_snd_setup().
