# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

menu "Actuator Device Drivers"
rsource "motor_driver/Kconfig"
endmenu # Actuator Device Drivers

menu "Network Device Drivers"
rsource "at86rf215/Kconfig"
rsource "cc110x/Kconfig"
rsource "dose/Kconfig"
rsource "mrf24j40/Kconfig"
rsource "pn532/Kconfig"
source "$(RIOTCPU)/nrf52/radio/nrf802154/Kconfig"
endmenu # Network Device Drivers

menu "Sensor Device Drivers"
rsource "ads101x/Kconfig"
rsource "hdc1000/Kconfig"
rsource "mag3110/Kconfig"
rsource "mma8x5x/Kconfig"
endmenu # Sensor Device Drivers
