if USEMODULE_LITTLEFS2_FS

config LITTLEFS2_LOOKAHEAD_SIZE
    int "Default lookahead size"
    default 16

config LITTLEFS2_FILE_BUFFER_SIZE
    int "File buffer size"
    default 0
    help
        If 0, dynamic allocation is used.
        If set, only one file can be used at a time, must be program size (mtd page
        size is used internally as program size).

config LITTLEFS2_READ_BUFFER_SIZE
    int "Read buffer size"
    default 0
    help
        If 0, dynamic allocation is used.
        If set, it must be read size (mtd page size is used internally as read
        size).

config LITTLEFS2_PROG_BUFFER_SIZE
    int "Prog buffer size"
    default 0
    help
        if 0, dynamic allocation is used.
        If set, it must be program size.

config LITTLEFS2_CACHE_PAGES
    int "Number of pages used as cache"
    default 1
    help
        Sets the number of pages used as cache. Has to be at least 1.

config LITTLEFS2_BLOCK_CYCLES
    int "Max erase cycles before blocks are evicted"
    default 512
    help
        Sets the maximum number of erase cycles before blocks are evicted as a part
        of wear leveling. -1 disables wear-leveling.

config LITTLEFS2_MIN_BLOCK_SIZE_EXP
    int "Minimum acceptable block size"
    range -1 15
    default -1
    help
        Sets the exponent of the minimum acceptable block size in bytes (2^n).
        The actual block size may be larger due to device properties.
        The default value (-1) sets the block size to the smalles possible value.

endif # USEMODULE_LITTLEFS2_FS
