# Copyright (c) 2020 Freie Universitaet Berlin
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

if TEST_KCONFIG

choice
    bool "RN2XX3 LoRa module"
    optional
    depends on HAS_PERIPH_GPIO
    depends on HAS_PERIPH_UART

config MODULE_RN2483
    bool "RN2483"
    select MODULE_RN2XX3

config MODULE_RN2903
    bool "RN2903"
    select MODULE_RN2XX3

endchoice

config MODULE_RN2XX3
    bool
    depends on HAS_PERIPH_GPIO
    depends on HAS_PERIPH_UART
    select MODULE_PERIPH_GPIO
    select MODULE_PERIPH_UART
    select MODULE_FMT
    select MODULE_XTIMER

endif # TEST_KCONFIG

menuconfig KCONFIG_USEMODULE_RN2XX3
    bool "Configure RN2XX3 driver"
    depends on USEMODULE_RN2XX3
    help
        Configure the RN2XX3 driver using Kconfig.

if KCONFIG_USEMODULE_RN2XX3

config RN2XX3_DEFAULT_SLEEP
    int "Sleep duration in milliseconds [ms]"
    range 100 $(UINT32_MAX)
    default 5000
    help
        Set the sleep duration (in ms).
        The value should be greater than RN2XX3_SLEEP_MIN (100 ms)

config RN2XX3_DEFAULT_AR
    bool "Enable automatic reply"
    help
        Enable/disable Automatic Reply (AR) for rn2xx3 module. By enabling the
        automatic reply, the module will transmit a packet without a payload
        immediately after a confirmed downlink is received, or when the
        Frame Pending bit has been set by the server. Refer RN2483 LoRa™
        Technology Module Command Reference User’s Guide for more information.

endif # KCONFIG_USEMODULE_RN2XX3
