# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

config BOARD_ARDUINO_NANO
    bool
    default y
    select BOARD_COMMON_ARDUINO_ATMEGA
    select CPU_MODEL_ATMEGA328P

config BOARD
    default "arduino-nano" if BOARD_ARDUINO_NANO

source "$(RIOTBOARD)/common/arduino-atmega/Kconfig"
