CONFIG_PROGRESS_BAR_LENGTH=50
CONFIG_PROGRESS_BAR_FULL_CHARACTER="█"
CONFIG_PROGRESS_BAR_EMPTY_CHARACTER=" "

# Other nice progress bar characters:
#CONFIG_PROGRESS_BAR_FULL_CHARACTER="◉"
#CONFIG_PROGRESS_BAR_EMPTY_CHARACTER="◯"
#CONFIG_PROGRESS_BAR_FULL_CHARACTER="▣"
#CONFIG_PROGRESS_BAR_EMPTY_CHARACTER="▢"
