# SPDX-FileCopyrightText: 2020 HAW Hamburg
# SPDX-FileCopyrightText: 2021-2023 Gerson Fernando Budke
# SPDX-License-Identifier: LGPL-2.1-only

config BOARD
    default "atmega328p-xplained-mini" if BOARD_ATMEGA328P_XPLAINED_MINI

config BOARD_ATMEGA328P_XPLAINED_MINI
    bool
    default y
    select CPU_MODEL_ATMEGA328P
