# SPDX-FileCopyrightText: 2022 Benjamin Valentin
# SPDX-License-Identifier: LGPL-2.1-only

config BOARD
    default "esp32s2-wemos-mini" if BOARD_ESP32S2_WEMOS_MINI

config BOARD_ESP32S2_WEMOS_MINI
    bool
    default y
    select BOARD_COMMON_ESP32S2
    select CPU_MODEL_ESP32S2_FN4R2

source "$(RIOTBOARD)/common/esp32s2/Kconfig"
