# SPDX-FileCopyrightText: 2026 Technische Universität Hamburg
# SPDX-License-Identifier: LGPL-2.1-only

config BOARD
    default "waveshare-esp32s3-touch-lcd-128" if BOARD_WAVESHARE_ESP32S3_TOUCH_LCD_128

config BOARD_WAVESHARE_ESP32S3_TOUCH_LCD_128
    bool
    default y
    select BOARD_COMMON_ESP32S3
    select CPU_MODEL_ESP32S3_R2

source "$(RIOTBOARD)/common/esp32s3/Kconfig"
