# Copyright (c) 2021 Silke Hofstra
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config MODULE_SENML
    bool "SenML"
    depends on TEST_KCONFIG
    help
        Generic data container for physical data and utility functions.

config MODULE_SENML_SAUL
    bool "SenML SAUL  integration"
    depends on TEST_KCONFIG
    select MODULE_SENML_PHYDAT
    select MODULE_SENML_CBOR
    depends on MODULE_SAUL
    depends on MODULE_SAUL_REG
    help
        Generic data container for physical data and utility functions.

config MODULE_SENML_PHYDAT
    bool "SenML Phydat support"
    depends on TEST_KCONFIG
    select MODULE_SENML
    select MODULE_PHYDAT
    help
        Utilities to convert Phydat valus to SenML

config MODULE_SENML_CBOR
    bool "SenML CBOR enconding"
    depends on TEST_KCONFIG
    select MODULE_SENML
    select PACKAGE_NANOCBOR
    help
        Support for CBOR encoding of SenML values
