# SPDX-FileCopyrightText: 2025 Tom Hert <git@annsann.eu>
# SPDX-FileCopyrightText: 2025 HAW Hamburg
# SPDX-License-Identifier: LGPL-2.1-only

config BOARD
    default "rpi-pico-2" if BOARD_RPI_PICO_2

config BOARD_RPI_PICO_2
    bool
    default y
    select CPU_MODEL_RP2350
