# Copyright (c) 2020 Freie Universitaet Berlin
#               2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#
menu "MTD_SDCARD driver"
    depends on USEMODULE_MTD_SDCARD

config SDCARD_GENERIC_MTD_OFFSET
    depends on USEMODULE_MTD_SDCARD_DEFAULT
    int "Index of first auto-configured MTD SDcard device"
    default 1
    help
        If you have other MTD devices defined, set this number so that
        the auto-configured SD Card(s) from mtd_sdcard_default will come after them.

config MTD_SDCARD_ERASE
    bool "Enable SD card erase"
    help
        Enable this to erase sector before a data write operation.
        SDCards handle sector erase internally so its
        possible to directly write to the card without erasing
        the sector first hence this feature is disabled by default.

endmenu # MTD_SDCARD driver
