# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

config APP_CONSIDERS_BOARD_LOW_MEMORY
    bool
    help
        This disables optional features for boards that are scare on resources
    default y if BOARD_ARDUINO_DUEMILANOVE
    default y if BOARD_ARDUINO_LEONARDO
    default y if BOARD_ARDUINO_NANO
    default y if BOARD_ARDUINO_UNO
    default y if BOARD_ATMEGA328P
    default y if BOARD_ATMEGA328P_XPLAINED_MINI
    default y if BOARD_ATMEGA8
    default y if BOARD_MSB_430
    default y if BOARD_MSB_430H
    default y if BOARD_NUCLEO_L011K4
    default y if BOARD_OLIMEX_MSP430_H1611
    default y if BOARD_OLIMEX_MSP430_H2618
    default y if BOARD_SAMD10_XMINI
    default y if BOARD_STM32F030F4_DEMO
    default y if BOARD_TELOSB
    default y if BOARD_Z1

config APPLICATION
    bool
    default y
    imply MODULE_PERIPH_SPI_ON_QSPI
    depends on TEST_KCONFIG
    imply MODULE_PERIPH_SPI_RECONFIGURE if !APP_CONSIDERS_BOARD_LOW_MEMORY
    select MODULE_SCHEDSTATISTICS if !APP_CONSIDERS_BOARD_LOW_MEMORY
