# Copyright (c) 2020 Inria
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config BOARD_COMMON_BLXXXPILL
    bool

    # Clock configuration
    select BOARD_HAS_HSE
    select BOARD_HAS_LSE


source "$(RIOTBOARD)/common/stm32/Kconfig"
