# Copyright (C) 2021 Gunar Schorcht
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config MODULE_CPP_NEW_DELETE
    bool
    depends on TEST_KCONFIG
    depends on MODULE_CPP
    help
        On some platforms libstdc++ is not used or not available, like on
        the AVR. Such platforms can use this module to implement the C++
        new and delete operators using malloc and free respectively. However,
        to be thread-safe, a thread-safe implementation of malloc and free
        must be present.
