# SPDX-FileCopyrightText: 2020 ML!PA Consulting GmbH
# SPDX-License-Identifier: LGPL-2.1-only

config BOARD
    default "samd10-xmini" if BOARD_SAMD10_XMINI

config BOARD_SAMD10_XMINI
    bool
    default y
    select CPU_MODEL_SAMD10D14AU
