# Copyright (C) 2021 Freie Universität Berlin
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

menuconfig MODULE_FIDO2_CTAP_TRANSPORT
    bool "FIDO2 CTAP transport"
    depends on MODULE_FIDO2_CTAP
    depends on TEST_KCONFIG

rsource "hid/Kconfig"
