# Copyright (c) 2021 INRIA
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

menuconfig PACKAGE_UWB-CORE
    bool "Decawave uwb-core package"
    select MODULE_UWB-CORE_DPL
    select MODULE_UWB-CORE_CONTRIB
    select MODULE_FMT
    depends on HAS_PERIPH_GPIO
    select MODULE_PERIPH_GPIO
    depends on HAS_PERIPH_GPIO_IRQ
    select MODULE_PERIPH_GPIO_IRQ
    depends on HAS_PERIPH_SPI
    select MODULE_PERIPH_SPI
    depends on !HAS_ARCH_NATIVE
    depends on !HAS_ARCH_AVR8

if PACKAGE_UWB-CORE

config MODULE_AUTO_INIT_UWB-CORE
    bool "Auto-initialize the usb-core package"
    default y
    depends on MODULE_AUTO_INIT

config MODULE_UWB-CORE_CONTRIB
    bool

config MODULE_UWB-CORE_DPL
    bool
    select PACKAGE_MYNEWT-CORE
    select MODULE_MYNEWT-CORE_OS
    select MODULE_MYNEWT-CORE_NRF5X_HAL if HAS_CPU_NRF52 || HAS_CPU_NRF51

config MODULE_UWB-CORE_TWR_SS
    bool "uwb-core two-way-ranging single sided"
    select MODULE_UWB-CORE_RNG

config MODULE_UWB-CORE_TWR_SS_ACK
    bool "uwb-core two-way-ranging single sided using hardware generated ack as response"
    select MODULE_UWB-CORE_RNG

config MODULE_UWB-CORE_TWR_SS_EXT
    bool "uwb-core two-way-ranging single sided with extended frames"
    select MODULE_UWB-CORE_RNG

config MODULE_UWB-CORE_TWR_DS
    bool "uwb-core two-way-ranging double sided"
    select MODULE_UWB-CORE_RNG

config MODULE_UWB-CORE_TWR_DS_EXT
    bool "uwb-core two-way-ranging double sided with extended frames"
    select MODULE_UWB-CORE_RNG

config MODULE_UWB-CORE_RNG
    bool "uwb-core ranging module"
    select MODULE_UWB-CORE_RNG_MATH
    select MODULE_UWB-CORE_DSP
    select MODULE_UWB-CORE_UWB_JSON

config MODULE_UWB-CORE_UWB_JSON
    bool "uwb-core JSON utilities"

config MODULE_UWB-CORE_DSP
    bool "uwb-core DSP module"

config MODULE_UWB-CORE_RNG_MATH
    bool "uwb-core ranging math utilities"

config MODULE_UWB-CORE_UWBCFG
    bool "uwb-core configuration module"
    select MODULE_UWB-CORE_CONFIG

config MODULE_UWB-CORE_EVENT_THREAD
    bool "Use event-thread loop as uwb-core's event loop"
    select MODULE_UWB-CORE_CONFIG

config MODULE_UWB-CORE_CONFIG
    bool

endif # PACKAGE_UWB-CORE
