# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

menuconfig MODULE_CCS811
    bool "CCS811 digital gas sensor"
    depends on HAS_PERIPH_GPIO
    depends on HAS_PERIPH_I2C
    depends on TEST_KCONFIG
    select MODULE_PERIPH_GPIO
    select MODULE_PERIPH_I2C
    select MODULE_ZTIMER
    select MODULE_ZTIMER_USEC
    select MODULE_ZTIMER_PERIPH_TIMER

config MODULE_CCS811_FULL
    bool "Full functionalities"
    depends on MODULE_CCS811
    depends on HAS_PERIPH_GPIO_IRQ
    select MODULE_PERIPH_GPIO_IRQ
    help
        Say n if code size is critical, otherwise using the this module is
        recommended.
        Features included by this module are:
            - data ready and threshold interrupt handling
            - compensate gas readings using an external sensor
            - manual baseline handling

config HAVE_CCS811
    bool
    select MODULE_CCS811 if MODULE_SAUL_DEFAULT
    help
        Indicates that a ccs811 sensor is present.
