# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config PACKAGE_DRIVER_BME680
    bool
    depends on TEST_KCONFIG
    depends on MODULE_BME680
    select MODULE_DRIVER_BME680_CONTRIB
    select MODULE_ZTIMER
    select MODULE_ZTIMER_MSEC
    help
      BME680 sensor library, written and maintained by Bosch Sensortec. This is
      needed by RIOT BME680 driver.

config MODULE_DRIVER_BME680_CONTRIB
    bool
    depends on TEST_KCONFIG
    help
        RIOT integration code for the BME680 package.
