# SPDX-FileCopyrightText: 2020 Freie Universitaet Berlin
# SPDX-FileCopyrightText: 2020 HAW Hamburg
# SPDX-License-Identifier: LGPL-2.1-only

menu "MAG3110 driver"
    depends on USEMODULE_MAG3110

config MAG3110_I2C_ADDRESS
    hex "I2C default address"
    range 0x0E 0x0F
    default 0x0E
    help
        The address depends on part number of MAG3110.
        For more information refer to the datasheet.

endmenu # MAG3110 driver
