# Copyright (c) 2021 INRIA
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

menuconfig PACKAGE_MYNEWT-CORE
    bool "Apache MyNewt mynewt-core Package"
    depends on TEST_KCONFIG
    select MODULE_MYNEWT-CORE
    select MODULE_SEMA
    select MODULE_ZTIMER
    select MODULE_ZTIMER_MSEC
    select MODULE_EVENT
    select MODULE_EVENT_CALLBACK
    depends on HAS_PERIPH_GPIO
    select MODULE_PERIPH_GPIO
    depends on !HAS_ARCH_ESP


if PACKAGE_MYNEWT-CORE

config MODULE_MYNEWT-CORE
    bool

config MODULE_AUTO_INIT_MYNEWT-CORE
    bool "Auto-initialize the mynewt-core package"
    default y
    depends on MODULE_AUTO_INIT

config MODULE_MYNEWT-CORE_OS
    bool "mynewt-core kernel module"

config MODULE_MYNEWT-CORE_UTIL
    bool "mynewt-core utilities modules"

config MODULE_MYNEWT-CORE_NRF5X_HAL
    bool "mynewt-core nrf52 and nrf51 timer hal"

endif # PACKAGE_MYNEWT-CORE
