# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config MOD_ETHOS
    bool "Ethernet over serial (ethos)"
    depends on HAS_PERIPH_UART
    depends on MOD_NETDEV_ETH
    select MOD_PERIPH_UART
    select MOD_IOLIST
    select MOD_RANDOM
    select MOD_TSRB
    help
        Ethernet over serial driver module.

