# SPDX-FileCopyrightText: 2021 Inria
# SPDX-License-Identifier: LGPL-2.1-only

config BOARD
    default "b-u585i-iot02a" if BOARD_B_U585I_IOT02A

config BOARD_B_U585I_IOT02A
    bool
    default y
    select CPU_MODEL_STM32U585AI

    # Clock configuration
    select BOARD_HAS_LSE

source "$(RIOTBOARD)/common/stm32/Kconfig"
