# Copyright (c) 2021 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config MODULE_USBDEV_SYNOPSYS_DWC2
    bool
    depends on TEST_KCONFIG
    depends on HAS_PERIPH_USBDEV
    select MODULE_ZTIMER_MSEC
    help
         USBDEV low-level driver for MCUs with Synopsys DWC2 USB OTG FS/HS IP core"
