# SPDX-FileCopyrightText: 2021 HAW Hamburg
# SPDX-License-Identifier: LGPL-2.1-only

config PM_EWUP_USED
    bool "Use PA0/WKUP pin"
    depends on USEMODULE_PM_LAYERED
    help
        If enabled, the PA0/WKUP pin can be used to wake up the MCU from standby mode.
