# SPDX-FileCopyrightText: 2020 Inria
# SPDX-License-Identifier: LGPL-2.1-only

config BOARD
    default "im880b" if BOARD_IM880B

config BOARD_IM880B
    bool
    default y
    select CPU_MODEL_STM32L151CB

    # Clock configuration
    select BOARD_HAS_HSE
    select BOARD_HAS_LSE

config CLOCK_HSE
    default 16000000

source "$(RIOTBOARD)/common/stm32/Kconfig"
