# SPDX-FileCopyrightText: 2020 HAW Hamburg
# SPDX-License-Identifier: LGPL-2.1-only

config CPU_FAM_EFM32PG12B
    bool
    select CPU_CORE_CORTEX_M4F
    select CPU_COMMON_EFM32
    select CPU_EFM32_SERIES1

## CPU Models
config CPU_MODEL_EFM32PG12B500F1024IM48
    bool
    select CPU_FAM_EFM32PG12B

config CPU_MODEL_EFM32PG12B500F1024IL125
    bool
    select CPU_FAM_EFM32PG12B

config CPU_MODEL_EFM32PG12B500F1024GL125
    bool
    select CPU_FAM_EFM32PG12B

config CPU_MODEL_EFM32PG12B500F1024GM48
    bool
    select CPU_FAM_EFM32PG12B

## Common CPU symbols
config CPU_FAM
    default "efm32pg12b" if CPU_FAM_EFM32PG12B

config CPU_MODEL
    default "efm32pg12b500f1024im48"  if CPU_MODEL_EFM32PG12B500F1024IM48
    default "efm32pg12b500f1024il125" if CPU_MODEL_EFM32PG12B500F1024IL125
    default "efm32pg12b500f1024gl125" if CPU_MODEL_EFM32PG12B500F1024GL125
    default "efm32pg12b500f1024gm48"  if CPU_MODEL_EFM32PG12B500F1024GM48
