# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config MOD_L2UTIL
    bool "Layer-2 utilities"
    help
        Helper functions for IPv6 over X.
