# Copyright (c) 2020 HAW Hamburg
#               2022 Gunar Schorcht
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

config BOARD_COMMON_ESP32C3
    bool
    select BOARD_COMMON_ESP32X

config MODULE_BOARDS_COMMON_ESP32C3
    bool
    depends on TEST_KCONFIG
    depends on BOARD_COMMON_ESP32C3
    depends on HAS_ARCH_ESP32
    default y
    help
      Common ESP32-C3 boards code.

source "$(RIOTBOARD)/common/esp32x/Kconfig"
