# Copyright (c) 2021 HAW Hamburg
#               2022 SSV Software Systems GmbH
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

## Definition of Gecko SDK specific features
config HAS_GECKO_SDK_LIBRAIL_NONFPU
    bool
    help
        Indicates that the CPU offers librail support if the FPU is disabled.
        Librail is shipped as pre-compiled blobs. Thus, we have to adapt to
        their choice how to process floats.

config HAS_GECKO_SDK_LIBRAIL_FPU
    bool
    help
        Indicates that the CPU offers librail support if the FPU is enabled.
        Librail is shipped as pre-compiled blobs. Thus, we have to adapt to
        their choice how to process floats.


## Provided modules
menuconfig PACKAGE_GECKO_SDK
    bool "Vendor library for EFM/EFR/EZR32 MCUs"
    depends on TEST_KCONFIG
    help
        Vendor library for EFM/EFR/EZR32 targets by Silicon Labs.
        See: https://siliconlabs.github.io/Gecko_SDK_Doc/

if PACKAGE_GECKO_SDK

config MODULE_GECKO_SDK_EMLIB
    bool
    default y
    help
        EMLIB is a low-level peripheral support library that provides a unified
        API for all EFM32, EZR32 and EFR32 MCUs and SoCs from Silicon Labs.

config MODULE_GECKO_SDK_EMLIB_EXTRA
    bool
    default y
    help
        Extra utility methods from EMBLIB vendor library.

config MODULE_GECKO_SDK_LIBRAIL
    bool "Radio Abstraction Interface Layer (RAIL)"
    depends on (HAS_GECKO_SDK_LIBRAIL_NONFPU && !MODULE_CORTEXM_FPU) || (HAS_GECKO_SDK_LIBRAIL_FPU && MODULE_CORTEXM_FPU)
    help
        The Silicon Labs Radio Abstraction Interface Layer (RAIL) is required
        to use the integrated radio offered by the EFR32 families.

config MODULE_GECKO_SDK_LIBRAIL_PA
    bool "Power Amplifier Power Conversion Functions"
    depends on MODULE_GECKO_SDK_LIBRAIL
    help
        Helper to convert between transmission power in dBm and the
        chip- and circuit-specific raw power level.

endif # PACKAGE_GECKO_SDK
