# Copyright (c) 2022 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

menuconfig MODULE_RUST_RIOTMODULES
    bool "RUST RIOT modules"
    depends on TEST_KCONFIG
    depends on HAS_RUST_TARGET
    help
        This module is used when some module asks to have its code built
        through rust_riotmodules.

config MODULE_RUST_RIOTMODULES_STANDALONE
    bool "RUST RIOT modules are standalone"
    default y
    depends on MODULE_RUST_RIOTMODULES
    help
        This module is used when rust_riotmodules is selected, and the main
        application does not already contain Rust code through which the
        rust_riotmodules are built.
