if USEMODULE_USBUS_MSC

config USBUS_MSC_AUTO_MTD
    bool "Automatically export all MTD devices via USB"
    default true
    help
        This will automatically export all MTD devices that follow
        the default naming scheme on startup.

config USBUS_MSC_VENDOR_ID
    string "MSC Vendor ID"
    default "RIOT-OS"

config USBUS_MSC_PRODUCT_ID
    string "MSC Product ID"
    default "RIOT_MSC_DISK"

config USBUS_MSC_PRODUCT_REV
    string "MSC Product Revision"
    default "1.0"

endif # USEMODULE_USBUS_MSC
