# Copyright (c) 2020 Inria
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

# CPU models
config CPU_MODEL_STM32G070RB
    bool
    select CPU_LINE_STM32G070XX

config CPU_MODEL_STM32G071RB
    bool
    select CPU_LINE_STM32G071XX

# Configure CPU model
config CPU_MODEL
    default "stm32g070rb" if CPU_MODEL_STM32G070RB
    default "stm32g071rb" if CPU_MODEL_STM32G071RB
