# Copyright (c) 2023 Gunar Schorcht
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config MODULE_LCD_FMC
    bool
    depends on MODULE_LCD
    select MODULE_PERIPH_FMC
    select MODULE_PERIPH_FMC_NOR_SRAM
    default y if HAVE_LCD_PARALLEL_LL_MCU
