# SPDX-FileCopyrightText: 2020 Inria
# SPDX-License-Identifier: LGPL-2.1-only

config BOARD
    default "p-nucleo-wb55" if BOARD_P_NUCLEO_WB55

config BOARD_P_NUCLEO_WB55
    bool
    default y
    select CPU_MODEL_STM32WB55RG

    # Clock configuration
    select BOARD_HAS_HSE
    select BOARD_HAS_LSE

config CLOCK_HSE
    default 32000000

source "$(RIOTBOARD)/common/nucleo/Kconfig"
