# SPDX-FileCopyrightText: 2020 Inria
# SPDX-License-Identifier: LGPL-2.1-only

config BOARD
    default "nucleo-f103rb" if BOARD_NUCLEO_F103RB

config BOARD_NUCLEO_F103RB
    bool
    default y
    select BOARD_COMMON_NUCLEO64
    select CPU_MODEL_STM32F103RB

source "$(RIOTBOARD)/common/nucleo64/Kconfig"
