# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config CPU_FAM_ATMEGA328
    bool
    select CPU_COMMON_ATMEGA
    select HAS_ATMEGA_PCINT1
    select HAS_ATMEGA_PCINT2

## CPU Models
config CPU_MODEL_ATMEGA328P
    bool
    select CPU_FAM_ATMEGA328
    select HAS_CPU_ATMEGA328P

## Definition of specific features
config HAS_CPU_ATMEGA328P
    bool
    help
        Indicates that a 'atmega328p' cpu is being used.

## Common CPU symbols
config CPU_FAM
    default "atmega328" if CPU_FAM_ATMEGA328

config CPU_MODEL
    default "atmega328p" if CPU_MODEL_ATMEGA328P

config CPU
    default "atmega328p" if CPU_FAM_ATMEGA328

source "$(RIOTCPU)/atmega_common/Kconfig"
