# Copyright (c) 2023 Mesotic SAS
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

config BOARD
    default "nrf5340dk-app" if BOARD_NRF5340DK_APP

config BOARD_NRF5340DK_APP
    bool
    default y
    select CPU_MODEL_NRF5340_APP

    # Put other features for this board (in alphabetical order)
