# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config APPLICATION
    bool
    default y
    imply MODULE_PERIPH_UART_MODECFG
    imply MODULE_PERIPH_LPUART
    imply MODULE_PERIPH_UART_RXSTART_IRQ
    imply MODULE_PERIPH_UART_COLLISION
    depends on TEST_KCONFIG
