# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

if TEST_KCONFIG

menu "MH-Z19 CO2 sensor"
    depends on HAS_PERIPH_GPIO || HAS_PERIPH_UART

config MODULE_MHZ19_UART
    bool "MH-Z19 over UART"
    depends on HAS_PERIPH_UART
    select MODULE_PERIPH_UART
    select MODULE_MHZ19
    select MODULE_XTIMER

config MODULE_MHZ19_PWM
    bool "MH-Z19 over PWM"
    depends on HAS_PERIPH_GPIO
    select MODULE_PERIPH_GPIO
    select MODULE_MHZ19
    select MODULE_XTIMER

config MODULE_MHZ19
    bool

endmenu # MH-Z19 CO2 sensor

endif # TEST_KCONFIG
