# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

menuconfig MODULE_MHZ19
    bool
    prompt "MH-Z19 CO2 sensor" if !(MODULE_SAUL_DEFAULT && HAVE_MHZ19)
    default (MODULE_SAUL_DEFAULT && HAVE_MHZ19)
    depends on TEST_KCONFIG
    select MODULE_ZTIMER
    select MODULE_ZTIMER_MSEC

if MODULE_MHZ19

config MODULE_MHZ19_PWM
    bool "MH-Z19 over PWM"
    default HAVE_MHZ19_PWM
    depends on HAS_PERIPH_GPIO
    select MODULE_PERIPH_GPIO

config MODULE_MHZ19_UART
    bool "MH-Z19 over UART"
    default HAVE_MHZ19_UART
    depends on HAS_PERIPH_UART
    select MODULE_PERIPH_UART

endif # MODULE_MHZ19

config HAVE_MHZ19
    bool
    help
        Indicates that a MH-Z19 CO2 sensor is present.

config HAVE_MHZ19_PWM
    bool
    help
        Indicates that a MH-Z19 CO2 sensor is present on the pwm.

config HAVE_MHZ19_UART
    bool
    help
        Indicates that a MH-Z19 CO2 sensor is present on the uart.
