# Copyright (c) 2022 Juergen Fitschen
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

if USEPKG_TINYVCDIFF

config TINYVCDIFF_BUFFER_SIZE
    int "Buffer size"
    default 128
    help
        For VCDIFF copy and run instruction the library requires a buffer.
        The best performance is achieved for sizes of typical page sizes of
        the underlying MTD or VFS backend. But a size of just 1 byte would
        work, too.

if USEMODULE_TINYVCDIFF_MTD

config TINYVCDIFF_MTD_WRITE_SIZE
    int "Write size"
    default 4
    help
        Alignment and minimum size for MTD write access.

endif # USEMODULE_TINYVCDIFF_MTD

endif # USEPKG_TINYVCDIFF
