# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config PACKAGE_DRIVER_VL53L1X_ST_API
    bool
    select MODULE_DRIVER_VL53L1X_ST_API_PLATFORM
    help
        Driver API package for the ST VL53L1X Time-of-Flight (ToF) ranging
        sensor

config MODULE_DRIVER_VL53L1X_ST_API_PLATFORM
    bool
    select ZTIMER_USEC
    help
        Platform implementation for the ST VL53L1X Driver API package
