# SPDX-FileCopyrightText: 2020 Inria
# SPDX-License-Identifier: LGPL-2.1-only

config BOARD
    default "b-l475e-iot01a" if BOARD_B_L475E_IOT01A

config BOARD_B_L475E_IOT01A
    bool
    default y
    select CPU_MODEL_STM32L475VG

    # Clock configuration
    select BOARD_HAS_LSE

source "$(RIOTBOARD)/common/stm32/Kconfig"
