# SPDX-FileCopyrightText: 2020 HAW Hamburg
# SPDX-License-Identifier: LGPL-2.1-only

config BOARD
    default "arduino-mkr1000" if BOARD_ARDUINO_MKR1000

config BOARD_ARDUINO_MKR1000
    bool
    default y
    select BOARD_COMMON_ARDUINO_MKR

source "$(RIOTBOARD)/common/arduino-mkr/Kconfig"
