# Copyright (c) 2022 Niklaus Leuenberger
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

config PACKAGE_EXTERNAL_PKG
    bool "external_pkg package"
    depends on TEST_KCONFIG
