# SPDX-FileCopyrightText: 2022 HAW Hamburg
# SPDX-License-Identifier: LGPL-2.1-only

rsource '../f2f4f7mp1/Kconfig.clk'

if CPU_FAM_F4

config CLOCK_PLL_M
    int "M: PLLIN division factor" if CUSTOM_PLL_PARAMS
    default 25 if CLOCK_MAX_84MHZ && CLOCK_HSE = 25000000
    default 25 if CLOCK_MAX_100MHZ && CLOCK_HSE = 25000000
    default 12 if CLOCK_MAX_180MHZ && CLOCK_HSE = 16000000
    default 12 if CLOCK_MAX_180MHZ && CLOCK_HSE = 12000000
    default 4

config CLOCK_PLL_N
    int "N: PLLIN multiply factor" if CUSTOM_PLL_PARAMS
    default 168 if CLOCK_MAX_84MHZ && CLOCK_HSE = 8000000
    default 336 if CLOCK_MAX_84MHZ && CLOCK_HSE = 25000000
    default 84 if CLOCK_MAX_84MHZ

    default 96 if CLOCK_MAX_100MHZ && CLOCK_HSE = 8000000 && (MODULE_PERIPH_USBDEV_CLK || USEMODULE_PERIPH_USBDEV_CLK) && !HAVE_CLOCK_ALT_48MHZ
    default 100 if CLOCK_MAX_100MHZ && CLOCK_HSE = 8000000
    default 192 if CLOCK_MAX_100MHZ && CLOCK_HSE = 25000000 && (MODULE_PERIPH_USBDEV_CLK || USEMODULE_PERIPH_USBDEV_CLK) && !HAVE_CLOCK_ALT_48MHZ
    default 200 if CLOCK_MAX_100MHZ && CLOCK_HSE = 25000000
    default 48 if CLOCK_MAX_100MHZ && (MODULE_PERIPH_USBDEV_CLK || USEMODULE_PERIPH_USBDEV_CLK)
    default 50 if CLOCK_MAX_100MHZ

    default 168 if CLOCK_MAX_180MHZ && CLOCK_HSE = 8000000 && (MODULE_PERIPH_USBDEV_CLK || USEMODULE_PERIPH_USBDEV_CLK) && !HAVE_CLOCK_ALT_48MHZ
    default 180 if CLOCK_MAX_180MHZ && CLOCK_HSE = 8000000
    default 336 if CLOCK_MAX_180MHZ && CLOCK_HSE = 12000000 && (MODULE_PERIPH_USBDEV_CLK || USEMODULE_PERIPH_USBDEV_CLK) && !HAVE_CLOCK_ALT_48MHZ
    default 360 if CLOCK_MAX_180MHZ && CLOCK_HSE = 12000000
    default 336 if CLOCK_MAX_180MHZ && CLOCK_HSE = 16000000 && (MODULE_PERIPH_USBDEV_CLK || USEMODULE_PERIPH_USBDEV_CLK) && !HAVE_CLOCK_ALT_48MHZ
    default 360 if CLOCK_MAX_180MHZ && CLOCK_HSE = 16000000
    default 84 if CLOCK_MAX_180MHZ && (MODULE_PERIPH_USBDEV_CLK || USEMODULE_PERIPH_USBDEV_CLK) && !HAVE_CLOCK_ALT_48MHZ
    default 90 if CLOCK_MAX_180MHZ
    range 50 432

endif # CPU_FAM_F4
