# Copyright (c) 2020 Inria
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config BOARD
    default "nucleo-l011k4" if BOARD_NUCLEO_L011K4

config BOARD_NUCLEO_L011K4
    bool
    default y
    select BOARD_COMMON_NUCLEO32
    select CPU_MODEL_STM32L011K4

    # Put defined MCU peripherals here (in alphabetical order)
    select HAS_PERIPH_ADC
    select HAS_PERIPH_I2C
    select HAS_PERIPH_RTC
    select HAS_PERIPH_RTT
    select HAS_PERIPH_SPI
    select HAS_PERIPH_TIMER
    select HAS_PERIPH_UART

source "$(RIOTBOARD)/common/nucleo32/Kconfig"
