# Copyright (c) 2020 Viktor Gal
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#
menuconfig KCONFIG_MODULE_HDC2010
    bool "Configure HDC2010 driver"
    depends on MODULE_HDC2010
    help
        Configure the HDC2010 driver using Kconfig.

if KCONFIG_MODULE_HDC2010

config HDC2010_I2C_ADDRESS
    hex "I2C default address"
    range 0x40 0x41
    default 0x40
    help
        HDC2010 allows for up to 2 devices on single bus. The value depends on
        the state of ADDR pin.
        For more information refer to the section 7.5.1 in the Datasheet.

config HDC2010_CONVERSION_TIME
    int "Conversion time in microseconds [us]"
    default 26000
    help
        This time value is chosen twice as large as needed for two 14-bit
        conversions (worst case) to allow for timer imprecision:
        (convert temp + convert hum) * 2 -> (610us + 660us) * 2 := 2540us.

endif # KCONFIG_MODULE_HDC2010
