# Copyright (c) 2021 Gunar Schorcht
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

menuconfig MODULE_MCP47XX
    bool "MCP47xx DAC with I2C interface"
    depends on HAS_PERIPH_I2C
    select MODULE_PERIPH_I2C
    help
        Driver for Microchip MCP47xx DAC devices with I2C interfaces. The
        driver supports MCP4706, MCP4716, MCP4725, MCP4726 and MCP4728.
