# SPDX-FileCopyrightText: 2020 HAW Hamburg
# SPDX-FileCopyrightText: 2020 Google LLC
# SPDX-License-Identifier: LGPL-2.1-only

config BOARD
    default "esp32-ethernet-kit-v1_1" if BOARD_ESP32_ETHERNET_KIT_V1_1

config BOARD_ESP32_ETHERNET_KIT_V1_1
    bool
    default y
    select BOARD_COMMON_ESP32
    select CPU_MODEL_ESP32_WROVER_B

source "$(RIOTBOARD)/common/esp32/Kconfig"
