# Copyright (c) 2021 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

menuconfig MODULE_QMC5883L
    bool
    prompt "QMC5883L 3-Axis Digital Magnetic sensor" if !(MODULE_SAUL_DEFAULT && HAVE_QMC5883L)
    default (MODULE_SAUL_DEFAULT && HAVE_QMC5883L)
    depends on HAS_PERIPH_I2C
    depends on TEST_KCONFIG
    select MODULE_PERIPH_I2C

config MODULE_QMC5883L_INT
    bool "Interrupt support"
    default HAVE_QMC5883L_INT
    depends on HAS_PERIPH_GPIO
    depends on HAS_PERIPH_GPIO_IRQ
    depends on MODULE_QMC5883L
    select MODULE_PERIPH_GPIO
    select MODULE_PERIPH_GPIO_IRQ

config HAVE_QMC5883L
    bool
    help
      Indicates that a QMC5883L 3-Axis Digital Magnetic sensor is present.

config HAVE_QMC5883L_INT
    bool
    select HAVE_QMC5883L
    help
      Indicates that a QMC5883L 3-Axis Digital Magnetic sensor is present with
      the interrupt wired.
