# Copyright (c) 2021 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config PACKAGE_MICRO-ECC
    bool "Micro-ECC package"
    depends on TEST_KCONFIG
    depends on MODULE_RANDOM
    depends on !HAS_ARCH_16BIT
    help
        Micro-ECC is based on the Micro-ECC
        https://github.com/kmackay/micro-ecc and adds `hwrng_read` as
        the default RNG function if it is available on the target
        platform.

rsource "psa_uecc/Kconfig"
