# Copyright (c) 2021 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config MODULE_TOUCH_DEV
    bool "Touch device generic API"
    depends on TEST_KCONFIG
    imply MODULE_AUTO_INIT_SCREEN
    help
        This API is experimental and in an early state - expect changes!
