# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

config WDT_WARNING_PERIOD
    depends on HAS_PERIPH_WDT_WARNING_PERIOD && KCONFIG_USEMODULE_PERIPH_WDT
    default 1

if TEST_KCONFIG

config MODULE_SAM0_COMMON_PERIPH
    bool
    default y
    help
        SAM0 common peripheral code.

config MODULE_PERIPH_RTC_RTT
    bool
    default y if MODULE_PERIPH_RTT || MODULE_PERIPH_RTC

config MODULE_PERIPH_UART_NONBLOCKING
    depends on HAS_PERIPH_UART_NONBLOCKING
    depends on MODULE_PERIPH_UART
    select MODULE_TSRB

endif # TEST_KCONFIG
