# Copyright (c) 2021 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config MODULE_SHT3X
    bool "Sensirion SHT30/SHT31/SHT35 Humidity and Temperature Sensors"
    depends on HAS_PERIPH_I2C
    depends on TEST_KCONFIG
    select MODULE_PERIPH_I2C
    select MODULE_CHECKSUM
    select MODULE_XTIMER
