# SPDX-FileCopyrightText: 2019 HAW Hamburg
# SPDX-License-Identifier: LGPL-2.1-only

menu "Networking"

rsource "application_layer/Kconfig"
rsource "ble/Kconfig"
rsource "credman/Kconfig"
rsource "gnrc/Kconfig"
rsource "sock/Kconfig"
rsource "link_layer/Kconfig"
rsource "lora/Kconfig"
rsource "netif/Kconfig"

endmenu # Networking
