# SPDX-FileCopyrightText: 2020 Locha Inc
# SPDX-License-Identifier: LGPL-2.1-only

config BOARD
    default "cc1312-launchpad" if BOARD_CC1312_LAUNCHPAD

config BOARD_CC1312_LAUNCHPAD
    bool
    default y
    select CPU_MODEL_CC1312R1F3
