# Copyright (c) 2020 Inria
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config BOARD
    default "nucleo-l433rc" if BOARD_NUCLEO_L433RC

config BOARD_NUCLEO_L433RC
    bool
    default y
    select BOARD_COMMON_NUCLEO64
    select CPU_MODEL_STM32L433RC

source "$(RIOTBOARD)/common/nucleo64/Kconfig"
