# Copyright (c) 2020 Locha Inc
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config CPU_FAM_CC26X0
    bool
    select CPU_CORE_CORTEX_M3
    select CPU_COMMON_CC26XX_CC13XX

config CPU_FAM_CC13X0
    bool
    select CPU_CORE_CORTEX_M3
    select CPU_COMMON_CC26XX_CC13XX

## CPU Models
config CPU_MODEL_CC26X0F128
    bool
    select CPU_FAM_CC26X0

config CPU_MODEL_CC13X0F128
    bool
    select CPU_FAM_CC13X0

## Common CPU symbols
config CPU_FAM
    default "cc26x0" if CPU_FAM_CC26X0
    default "cc13x0" if CPU_FAM_CC13X0

config CPU_MODEL
    default "cc26x0f128" if CPU_MODEL_CC26X0F128
    default "cc13x0f128" if CPU_MODEL_CC13X0F128

config CPU
    default "cc26x0_cc13x0"

source "$(RIOTCPU)/cc26xx_cc13xx/Kconfig"
