# SPDX-FileCopyrightText: 2020 Inria
# SPDX-License-Identifier: LGPL-2.1-only

config BOARD
    default "nucleo-f767zi" if BOARD_NUCLEO_F767ZI

config BOARD_NUCLEO_F767ZI
    bool
    default y
    select BOARD_COMMON_NUCLEO144
    select CPU_MODEL_STM32F767ZI

source "$(RIOTBOARD)/common/nucleo144/Kconfig"
