# Copyright (c) 2021 Benjamin Valentin
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.


config BOARD
    default "zigduino" if BOARD_ZIGDUINO

config BOARD_ZIGDUINO
    bool
    default y
    select CPU_MODEL_ATMEGA128RFA1
