# SPDX-FileCopyrightText: 2020 HAW Hamburg
# SPDX-License-Identifier: LGPL-2.1-only

config BOARD
    default "arduino-zero" if BOARD_ARDUINO_ZERO

config BOARD_ARDUINO_ZERO
    bool
    default y
    select BOARD_COMMON_ARDUINO_ZERO

source "$(RIOTBOARD)/common/arduino-zero/Kconfig"
