# This is a lighter version of debug logging where only API misuse, missing modules, and
# tips to fix these issues are logged, without trace logs.
CONFIG_UNICOAP_ASSIST=n

# This is the full version of debug logging, including trace logs. When this is enabled,
# the previously mentioned API misuse, missing modules, and fix-its will also be diagnosed.
# So when you enable debug logging, you do not need to set CONFIG_UNICOAP_ASSIST.
CONFIG_UNICOAP_DEBUG_LOGGING=n

CONFIG_UNICOAP_CREATE_THREAD=y
