# Copyright (c) 2023 Inria
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

menuconfig PACKAGE_OPENTHREAD
    bool "Openthread network stack"
    depends on TEST_KCONFIG

    depends on HAS_CPP
    select MODULE_CPP
    select MODULE_EVENT
    select MODULE_NETDEV
    select MODULE_OPENTHREAD_CONTRIB
    select MODULE_OPENTHREAD_CONTRIB_NETDEV
    select MODULE_L2UTIL
    select MODULE_ZTIMER
    select MODULE_ZTIMER_MSEC

if PACKAGE_OPENTHREAD

config MODULE_OPENTHREAD-FTD
    bool "Openthread Full Thread Device"

config MODULE_OPENTHREAD-MTD
    bool "Openthread Minimal Thread Device"

config MODULE_OPENTHREAD-CLI-FTD
    bool "Openthread Full Thread Device CLI"

config MODULE_OPENTHREAD-CLI-MTD
    bool "Openthread Minimal Thread Device CLI"

config MODULE_OPENTHREAD_CONTRIB
    bool

config MODULE_OPENTHREAD_CONTRIB_NETDEV
    bool

endif  # PACKAGE_OPENTHREAD
