# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

if USEMODULE_GNRC_SIXLOWPAN_FRAG || USEMODULE_GNRC_SIXLOWPAN_FRAG_SFR

rsource "fb/Kconfig"
rsource "rb/Kconfig"
rsource "vrb/Kconfig"

endif # USEMODULE_GNRC_SIXLOWPAN_FRAG || USEMODULE_GNRC_SIXLOWPAN_FRAG_SFR

if USEMODULE_GNRC_SIXLOWPAN_FRAG_SFR

rsource "sfr/Kconfig"

endif # USEMODULE_GNRC_SIXLOWPAN_FRAG_SFR
