# Copyright (c) 2021 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

if TEST_KCONFIG

choice
    bool "Si1145/6/7 UV/Ambient light/Proximity sensors"
    optional
    depends on HAS_PERIPH_I2C
    depends on TEST_KCONFIG

config MODULE_SI1145
    bool "SI1145"
    select MODULE_SI114X

config MODULE_SI1146
    bool "SI1146"
    select MODULE_SI114X

config MODULE_SI1147
    bool "SI1147"
    select MODULE_SI114X

endchoice

config MODULE_SI114X
    bool
    depends on HAS_PERIPH_I2C
    select MODULE_PERIPH_I2C
    select MODULE_XTIMER

endif # TEST_KCONFIG
